<a href="https://colab.research.google.com/github/PiotrMaciejKowalski/kurs-analiza-danych-2022/blob/create-spark-materials/Tydzie%C5%84%206/Preprocessing%20i%20MLLib%20w%20Apache_Spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Setup Sparka

## Utworzenie środowiska pyspark do obliczeń

Tworzymy swoje środowisko z pysparkiem we wenętrzu naszych zasobów chmurowych

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [ ]:
!wget -q ftp.ps.pl/pub/apache/spark/spark-3.1.2/spark-3.1.2-bin-hadoop2.7.tgz

In [ ]:
!tar xf spark-3.1.2-bin-hadoop2.7.tgz

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop2.7"

In [ ]:
!pip install -q findspark

import findspark
findspark.init()

## Utworzenie sesji z pyspark


Utworzymy testowo sesję aby zobaczyć czy działa. Element ten jest wspólny również gdy systemy sparkowe pracują w sposób ciągły, a nie są tworzone przez naszą sesję.

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder\
        .master("local")\
        .appName("Colab")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

## Apache Spark 

**Apache Spark** to zunifikowany silnik do obliczeń rozproszonych na licencji open-source. Oferuje interfejs pozwalający na programowanie obliczeń na klastrach z domyślną paralelizacją oraz odpornością na awarie.

Ze Sparkiem pracować można w Scali, Pythonie, Javie oraz R.

Jego przewaga nad model Map-Reduce Hadoopa polega na unikaniu zapisów na hdfs tak długo jak to możliwe - i posługiwaniu się RAMem nodów jak długo go wystarcza.

**Komponenty Sparka:**

<img src="https://raw.githubusercontent.com/PiotrMaciejKowalski/kurs-analiza-danych-2022/main/Tydzie%C5%84%206/cluster-overview.png" alt="title" width="500"/>

* Spark "core" - podstawa Sparka z podstawową abstrakcją danych nazywaną RDD
* Spark SQL - komponent pozwalający na operowanie na ustrukturyzowanych danych z wykorzystaniem operacji znanych z SQL - łatwy w użyciu
* Spark MLlib - komponent zawierający algorytmy ML dostępne w Sparku - ML na skalę klastrów
* Spark Streaming - moduł pozwalający na pracę ze strumnieniami danych
* Spark GraphX - komponent do pracy z grafami

**Architektura Sparka:**

<img src="https://raw.githubusercontent.com/PiotrMaciejKowalski/kurs-analiza-danych-2022/main/Tydzie%C5%84%206/spark-stack.png" alt="title" width="500"/>

* driver - proces uruchamiający główną funkcję aplikacji i tworzący SparkContext
* executor(y) - proces uruchomiony dla aplikacji w węźle roboczym (worker node), który uruchamia zadania i przechowuje dane w pamięci lub na dysku. Każda aplikacja ma własne executory
* cluster manager - dostępne opcje: YARN, Mesos, Kubernetes, Standalone

**SparkSession:**
* wprowadzony w Spark 2.0
* składa się ze SparkContextu, SQLContextu oraz HiveContext
* zwykle nazywany w kodzie `spark`
* kroki niezbędne do utworzenia SparkSession w pySparku:

> from pyspark.sql import SparkSession  
> spark = SparkSession.builder.getOrCreate()

## RDD

Podstawowym formatem danych (coś jak tabela w db) jest RDD. Skrót rozwija się następująco:
* R - resilient (elastyczny)
* D - distributed
* D - dataset

Model RDD jest napisany w sposób wspierający przekstrzałcenia Map-Reduce jako domyślny. W związku z powyższym wykazuje się następującymi własnościami:


* immutable - każdy obiekt jest niezmienniczy. Chcesz coś zmienić - musisz utworzyć nowy rdd
* in-memory - przetwarzany głównie w RAM
* lazy evaluated - silnik obliczeniowy wykonuje obliczenia dopiero gdy okażą się konieczne.
* parallel - współbieżny 

Z RDD stowarzyszone są dwa rodzaje czynności:
* akcje, oraz
* transformacje

### Transformacje 

Modelują czynności jakie możemy chcieć wykonywać na danych. Przekształcenia (map), redukcje (reduce), filtry (filter). Mają charakter opisu skąd się biorą pewne wartości. W naszym ujęciu mogą odpowiadać funkcjom mapper, reducer i podobnym. 

_Dla osób, które kojarzą paradygmat funkcyjny programowania - można dodać, że transformacje dotyczą funkcji czystych._

### Akcje

Modelują czynności z uwagi na wynik jaki oczekujemy. Wyświetl, zapisz, wyszukaj. Mają charakter silnie połączony z wynikiem działania.

Aby obliczenia na danych zostały wykonane - musi zostać uruchomiona akcja. Dopiero ona wykona odpowiednie (i tylko te konieczne) transformacje.

## DataFrame

Choć RDD są wszędzie w Sparku, obecnie już się ich nie widzi. Od Sparka w wersji 2.0 zostały przesłonięte nowym interfejsem (zostały spakowane do wnętrza) czegoś nazywanego Ramką Danych (Dataframe). Skojarzenie z dataframe z R lub Pandas Python jest tutaj bardzo naturalne i prawdziwe. DataFrame Sparka były na nich wzorowane i pokrywają się w dużym obszarze składni.

**DataFrame:**
* abstrakcja danych z modułu Spark SQL
* zawiera dodatkowe informacje o strukturze danych (schema)
* pozwala na pracę z danymi wykorzysując zapytania znane z SQL/Hive

Dalej zaprezentujemy jak to się odbywa w praktyce

## Podłączenie Google Drive do sesji colab

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Przykładowy processing danych w Spark

## Wczytanie danych do Sparka

W tej części wczytamy sobie nasz plik `flights.csv` do przetwarzania w Spark.

Z uwagi na to, że nasz plik to csv bez nagłówka - trzeba zdefiniować schemat dla danych, które przetwarzamy

Przypomnijmy listę pól
YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,\
DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,\
TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,\
TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,\
CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,\
LATE_AIRCRAFT_DELAY,WEATHER_DELAY

_Sporo ich. Więc najpierw trochę magii (bo nie chce mi się kodować każdego pola ręcznie, a jestem leniwy). Ufam, że przykład pozwoli rozszerzyć zastosowanie do bardziej skomplikowanych zastosowań. Na pocieszenie dodam, że wczytywanie csv bez nagłówka to najgorszy scenariusz w wersji wczytywania w sparku._

In [ ]:
pola_zbiorczo = '''YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY'''
pola = pola_zbiorczo.split(',')

A dalej użyjemy funkcji add(Nazwa, Typ pola, czy może być null) do zapisania prostego schematu danych

In [ ]:
from pyspark.sql.types import StructType, StringType

schemat = StructType()
for pole in pola:
    schemat = schemat.add(pole, StringType(), True)

Przejdźmy do wczytywania

In [ ]:
df = spark.read.format('csv').option("header", False).schema(schemat).load('/content/drive/MyDrive/flights.csv')
df.show(5)

+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+
|YEAR|MONTH|DAY|DAY_OF_WEEK|AIRLINE|FLIGHT_NUMBER|TAIL_NUMBER|ORIGIN_AIRPORT|DESTINATION_AIRPORT|SCHEDULED_DEPARTURE|DEPARTURE_TIME|DEPARTURE_DELAY|TAXI_OUT|WHEELS_OFF|SCHEDULED_TIME|ELAPSED_TIME|AIR_TIME|DISTANCE|WHEELS_ON|TAXI_IN|SCHEDULED_ARRIVAL|ARRIVAL_TIME|ARRIVAL_DELAY|DIVERTED|CANCELLED|CANCELLATION_REASON|AIR_SYSTEM_DELAY|SECURITY_DELAY|AIRLINE_DELAY|LATE_AIRCRAFT_DELAY|WEATHER_DELAY|
+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+
|2015|    1|  1|          4|     AS|           98|     N407AS|           ANC|                SEA|               0005|          2354|            -11|      21|      0015|           205|         194|     169|    1448|     0404|      4|             0430|        0408|          -22|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     AA|         2336|     N3KUAA|           LAX|                PBI|               0010|          0002|             -8|      12|      0014|           280|         279|     263|    2330|     0737|      4|             0750|        0741|           -9|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     US|          840|     N171US|           SFO|                CLT|               0020|          0018|             -2|      16|      0034|           286|         293|     266|    2296|     0800|     11|             0806|        0811|            5|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     AA|          258|     N3HYAA|           LAX|                MIA|               0020|          0015|             -5|      15|      0030|           285|         281|     258|    2342|     0748|      8|             0805|        0756|           -9|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     AS|          135|     N527AS|           SEA|                ANC|               0025|          0024|             -1|      11|      0035|           235|         215|     199|    1448|     0254|      5|             0320|        0259|          -21|       0|        0|               null|            null|          null|         null|               null|         null|
+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+
only showing top 5 rows

In [ ]:
df.columns

['YEAR',
 'MONTH',
 'DAY',
 'DAY_OF_WEEK',
 'AIRLINE',
 'FLIGHT_NUMBER',
 'TAIL_NUMBER',
 'ORIGIN_AIRPORT',
 'DESTINATION_AIRPORT',
 'SCHEDULED_DEPARTURE',
 'DEPARTURE_TIME',
 'DEPARTURE_DELAY',
 'TAXI_OUT',
 'WHEELS_OFF',
 'SCHEDULED_TIME',
 'ELAPSED_TIME',
 'AIR_TIME',
 'DISTANCE',
 'WHEELS_ON',
 'TAXI_IN',
 'SCHEDULED_ARRIVAL',
 'ARRIVAL_TIME',
 'ARRIVAL_DELAY',
 'DIVERTED',
 'CANCELLED',
 'CANCELLATION_REASON',
 'AIR_SYSTEM_DELAY',
 'SECURITY_DELAY',
 'AIRLINE_DELAY',
 'LATE_AIRCRAFT_DELAY',
 'WEATHER_DELAY']

In [ ]:
df['YEAR','MONTH','DAY','AIRLINE','DISTANCE'].show()

+----+-----+---+-------+--------+
|YEAR|MONTH|DAY|AIRLINE|DISTANCE|
+----+-----+---+-------+--------+
|2015|    1|  1|     AS|    1448|
|2015|    1|  1|     AA|    2330|
|2015|    1|  1|     US|    2296|
|2015|    1|  1|     AA|    2342|
|2015|    1|  1|     AS|    1448|
|2015|    1|  1|     DL|    1589|
|2015|    1|  1|     NK|    1299|
|2015|    1|  1|     US|    2125|
|2015|    1|  1|     AA|    1464|
|2015|    1|  1|     DL|    1747|
|2015|    1|  1|     DL|    1199|
|2015|    1|  1|     AA|    2174|
|2015|    1|  1|     DL|    1535|
|2015|    1|  1|     DL|    1590|
|2015|    1|  1|     DL|    1399|
|2015|    1|  1|     AS|    1448|
|2015|    1|  1|     DL|    1448|
|2015|    1|  1|     UA|    1635|
|2015|    1|  1|     AS|    1542|
|2015|    1|  1|     DL|    1426|
+----+-----+---+-------+--------+
only showing top 20 rows

In [ ]:
df.printSchema()

root
 |-- YEAR: string (nullable = true)
 |-- MONTH: string (nullable = true)
 |-- DAY: string (nullable = true)
 |-- DAY_OF_WEEK: string (nullable = true)
 |-- AIRLINE: string (nullable = true)
 |-- FLIGHT_NUMBER: string (nullable = true)
 |-- TAIL_NUMBER: string (nullable = true)
 |-- ORIGIN_AIRPORT: string (nullable = true)
 |-- DESTINATION_AIRPORT: string (nullable = true)
 |-- SCHEDULED_DEPARTURE: string (nullable = true)
 |-- DEPARTURE_TIME: string (nullable = true)
 |-- DEPARTURE_DELAY: string (nullable = true)
 |-- TAXI_OUT: string (nullable = true)
 |-- WHEELS_OFF: string (nullable = true)
 |-- SCHEDULED_TIME: string (nullable = true)
 |-- ELAPSED_TIME: string (nullable = true)
 |-- AIR_TIME: string (nullable = true)
 |-- DISTANCE: string (nullable = true)
 |-- WHEELS_ON: string (nullable = true)
 |-- TAXI_IN: string (nullable = true)
 |-- SCHEDULED_ARRIVAL: string (nullable = true)
 |-- ARRIVAL_TIME: string (nullable = true)
 |-- ARRIVAL_DELAY: string (nullable = true)
 |-- DIVERTED: string (nullable = true)
 |-- CANCELLED: string (nullable = true)
 |-- CANCELLATION_REASON: string (nullable = true)
 |-- AIR_SYSTEM_DELAY: string (nullable = true)
 |-- SECURITY_DELAY: string (nullable = true)
 |-- AIRLINE_DELAY: string (nullable = true)
 |-- LATE_AIRCRAFT_DELAY: string (nullable = true)
 |-- WEATHER_DELAY: string (nullable = true)

In [ ]:
%%time
df.count()

CPU times: user 82 ms, sys: 19.7 ms, total: 102 ms
Wall time: 11.4 s

5819079

## Zapytania Spark-SQL

Zapytania do Sparka kierowane są za pomocą 

* składni a.k.a. SQL, lub
* wyrażone w ORM (object relational mapping) czyli obiektowym sposobie na wyrażanie kwerend.

Składniowo wydaje się, że zapytania SQL są łatwiejsze do zapisania. W kilku przypadkach jednak jawne zadanie kolejności obliczeń może pomóc zoptymalizować kształt zapytania.

Zaprezentuje kilka podstawowych sposób na odpytywanie Spark DataFrame kwerendami o różnych naturach. Zawsze podane obe będą w postaci SparkSQL oraz wyrażenia ORM.

### Proste kwerendy

Zanim zacznimy pisać kwerendy należy jeszcze dodać nasz DataFrame do 'przestrzeni nazw tabel' Sparka. Formalnie nazywane jest to widokiem danych

In [ ]:
df.createOrReplaceTempView("df")

Wykonajmy prostego Selecta z tego zbioru.

Przypominam, że do uruchomienia sparka potrzebna jest akcja. Np. taki `show()`

In [ ]:
spark.sql('select airline, distance from df').show()

+-------+--------+
|airline|distance|
+-------+--------+
|     AS|    1448|
|     AA|    2330|
|     US|    2296|
|     AA|    2342|
|     AS|    1448|
|     DL|    1589|
|     NK|    1299|
|     US|    2125|
|     AA|    1464|
|     DL|    1747|
|     DL|    1199|
|     AA|    2174|
|     DL|    1535|
|     DL|    1590|
|     DL|    1399|
|     AS|    1448|
|     DL|    1448|
|     UA|    1635|
|     AS|    1542|
|     DL|    1426|
+-------+--------+
only showing top 20 rows

In [ ]:
df.select('airline','distance').show()

+-------+--------+
|airline|distance|
+-------+--------+
|     AS|    1448|
|     AA|    2330|
|     US|    2296|
|     AA|    2342|
|     AS|    1448|
|     DL|    1589|
|     NK|    1299|
|     US|    2125|
|     AA|    1464|
|     DL|    1747|
|     DL|    1199|
|     AA|    2174|
|     DL|    1535|
|     DL|    1590|
|     DL|    1399|
|     AS|    1448|
|     DL|    1448|
|     UA|    1635|
|     AS|    1542|
|     DL|    1426|
+-------+--------+
only showing top 20 rows

### Sprawniejsze wyświetlanie danych sparkowych

In [ ]:
df.select('airline','distance').limit(20).toPandas()

   airline distance
0       AS     1448
1       AA     2330
2       US     2296
3       AA     2342
4       AS     1448
5       DL     1589
6       NK     1299
7       US     2125
8       AA     1464
9       DL     1747
10      DL     1199
11      AA     2174
12      DL     1535
13      DL     1590
14      DL     1399
15      AS     1448
16      DL     1448
17      UA     1635
18      AS     1542
19      DL     1426

## Proste grupowania i agregacje

Dalej proste pogrupowanie z polem poddanym agregacji.

In [ ]:
%%time
spark.sql('select airline, count(*) as count from df group by airline').show()

+-------+-------+
|airline|  count|
+-------+-------+
|     UA| 515723|
|     NK| 117379|
|     AA| 725984|
|     EV| 571977|
|     B6| 267048|
|     DL| 875881|
|     OO| 588353|
|     F9|  90836|
|     US| 198715|
|     MQ| 294632|
|     HA|  76272|
|     AS| 172521|
|     VX|  61903|
|     WN|1261855|
+-------+-------+

CPU times: user 111 ms, sys: 9.64 ms, total: 121 ms
Wall time: 16.7 s

In [ ]:
%%time
df.groupBy('airline').count().show()

+-------+-------+
|airline|  count|
+-------+-------+
|     UA| 515723|
|     NK| 117379|
|     AA| 725984|
|     EV| 571977|
|     B6| 267048|
|     DL| 875881|
|     OO| 588353|
|     F9|  90836|
|     US| 198715|
|     MQ| 294632|
|     HA|  76272|
|     AS| 172521|
|     VX|  61903|
|     WN|1261855|
+-------+-------+

CPU times: user 100 ms, sys: 5.72 ms, total: 106 ms
Wall time: 14 s

## Klauzala sortująca

Możemy dane uporządkować względem kolumny

In [ ]:
%%time
spark.sql('select airline, count(*) as count from df group by airline order by count').show()

+-------+-------+
|airline|  count|
+-------+-------+
|     VX|  61903|
|     HA|  76272|
|     F9|  90836|
|     NK| 117379|
|     AS| 172521|
|     US| 198715|
|     B6| 267048|
|     MQ| 294632|
|     UA| 515723|
|     EV| 571977|
|     OO| 588353|
|     AA| 725984|
|     DL| 875881|
|     WN|1261855|
+-------+-------+

CPU times: user 95.2 ms, sys: 17.4 ms, total: 113 ms
Wall time: 14.2 s

In [ ]:
%%time
df.groupBy('airline').count().orderBy('count').show()

+-------+-------+
|airline|  count|
+-------+-------+
|     VX|  61903|
|     HA|  76272|
|     F9|  90836|
|     NK| 117379|
|     AS| 172521|
|     US| 198715|
|     B6| 267048|
|     MQ| 294632|
|     UA| 515723|
|     EV| 571977|
|     OO| 588353|
|     AA| 725984|
|     DL| 875881|
|     WN|1261855|
+-------+-------+

CPU times: user 101 ms, sys: 13.8 ms, total: 115 ms
Wall time: 13.8 s

Możemy zmienić funkcje agregacji na mniej oczywistą lub zadać ich więcej.

In [ ]:
%%time
spark.sql('select airline, max(distance) as maks, min(distance) as min from df group by airline').show()

+-------+----+----+
|airline|maks| min|
+-------+----+----+
|     UA| 997| 100|
|     NK| 986|1005|
|     AA| 993|1005|
|     EV| 999| 100|
|     B6| 997|1005|
|     DL| 991|1005|
|     OO| 996|1004|
|     F9| 993|1005|
|     US| 993|1009|
|     MQ| 999|1013|
|     HA|  84| 100|
|     AS| 987|1009|
|     VX| 954|1067|
|     WN| 999|1005|
+-------+----+----+

CPU times: user 136 ms, sys: 15.7 ms, total: 152 ms
Wall time: 19.4 s

In [ ]:
%%time 
from pyspark.sql import functions as sf #spark functions

df.groupBy('airline').agg(sf.max('distance').alias('maks'), sf.min('distance').alias('min')).show()

+-------+----+----+
|airline|maks| min|
+-------+----+----+
|     UA| 997| 100|
|     NK| 986|1005|
|     AA| 993|1005|
|     EV| 999| 100|
|     B6| 997|1005|
|     DL| 991|1005|
|     OO| 996|1004|
|     F9| 993|1005|
|     US| 993|1009|
|     MQ| 999|1013|
|     HA|  84| 100|
|     AS| 987|1009|
|     VX| 954|1067|
|     WN| 999|1005|
+-------+----+----+

CPU times: user 155 ms, sys: 26.2 ms, total: 182 ms
Wall time: 17.3 s

## Filtrowanie danych

Bardzo ważne jest oczywiście odflitrowanie części dużego zbioru danych. 

_Uwaga pamiętajmy, że leniwie wczytując plik skazałem wszystkie pola na bycie Stringami._

In [ ]:
%%time
spark.sql('select airline, count(*) as count from df  where day_of_week = "2" group by airline').show()

+-------+------+
|airline| count|
+-------+------+
|     UA| 74945|
|     NK| 16359|
|     AA|103401|
|     EV| 83541|
|     B6| 37753|
|     DL|128412|
|     OO| 84054|
|     F9| 12991|
|     US| 28496|
|     MQ| 42970|
|     HA| 10516|
|     AS| 24165|
|     VX|  8990|
|     WN|188007|
+-------+------+

CPU times: user 99.3 ms, sys: 7.21 ms, total: 106 ms
Wall time: 12.8 s

In [ ]:
%%time 
df.where('day_of_week = "2"').groupBy('airline').count().show()

+-------+------+
|airline| count|
+-------+------+
|     UA| 74945|
|     NK| 16359|
|     AA|103401|
|     EV| 83541|
|     B6| 37753|
|     DL|128412|
|     OO| 84054|
|     F9| 12991|
|     US| 28496|
|     MQ| 42970|
|     HA| 10516|
|     AS| 24165|
|     VX|  8990|
|     WN|188007|
+-------+------+

CPU times: user 112 ms, sys: 10.6 ms, total: 123 ms
Wall time: 14.1 s

# Zaawansowany preprocessing danych w Spark

Aby dokładniej poznać możliwości oferowane przez Sparka rozbudujemy przejrzymy listę operacji i sposoby ich wykorzystywania ponownie i dokładniej.

## Perspektywa RDD

RDD jest originalnym interfejsem dostępu do danych w Sparku. I w kryzysowych sytuacjach również z niego można korzystać. W nich (w odróżnieniu do DataFrame) dane składowane są bez porządku jaki dostarcza schemat danych.

In [ ]:
# tworzenie RDD ręcznie
%%time
sc = spark.sparkContext

data = sc.parallelize(['A', 'B', 'C'])

CPU times: user 7.92 ms, sys: 0 ns, total: 7.92 ms
Wall time: 37.8 ms

In [ ]:
%%time
data.collect()

CPU times: user 8.9 ms, sys: 1.24 ms, total: 10.1 ms
Wall time: 53.9 ms

['A', 'B', 'C']

Aby uzyskać dostęp do danych RDD można wydobyć je z DataFrame

In [ ]:
rdd_data = df.rdd
rdd_data_sample = sc.parallelize(df.rdd.take(1000))

In [ ]:
%%time 
rdd_data.take(5)

CPU times: user 9.03 ms, sys: 548 µs, total: 9.58 ms
Wall time: 134 ms

[Row(YEAR='2015', MONTH='1', DAY='1', DAY_OF_WEEK='4', AIRLINE='AS', FLIGHT_NUMBER='98', TAIL_NUMBER='N407AS', ORIGIN_AIRPORT='ANC', DESTINATION_AIRPORT='SEA', SCHEDULED_DEPARTURE='0005', DEPARTURE_TIME='2354', DEPARTURE_DELAY='-11', TAXI_OUT='21', WHEELS_OFF='0015', SCHEDULED_TIME='205', ELAPSED_TIME='194', AIR_TIME='169', DISTANCE='1448', WHEELS_ON='0404', TAXI_IN='4', SCHEDULED_ARRIVAL='0430', ARRIVAL_TIME='0408', ARRIVAL_DELAY='-22', DIVERTED='0', CANCELLED='0', CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None),
 Row(YEAR='2015', MONTH='1', DAY='1', DAY_OF_WEEK='4', AIRLINE='AA', FLIGHT_NUMBER='2336', TAIL_NUMBER='N3KUAA', ORIGIN_AIRPORT='LAX', DESTINATION_AIRPORT='PBI', SCHEDULED_DEPARTURE='0010', DEPARTURE_TIME='0002', DEPARTURE_DELAY='-8', TAXI_OUT='12', WHEELS_OFF='0014', SCHEDULED_TIME='280', ELAPSED_TIME='279', AIR_TIME='263', DISTANCE='2330', WHEELS_ON='0737', TAXI_IN='4', SCHEDULED_ARRIVAL='0750', ARRIVAL_TIME='0741', ARRIVAL_DELAY='-9', DIVERTED='0', CANCELLED='0', CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None),
 Row(YEAR='2015', MONTH='1', DAY='1', DAY_OF_WEEK='4', AIRLINE='US', FLIGHT_NUMBER='840', TAIL_NUMBER='N171US', ORIGIN_AIRPORT='SFO', DESTINATION_AIRPORT='CLT', SCHEDULED_DEPARTURE='0020', DEPARTURE_TIME='0018', DEPARTURE_DELAY='-2', TAXI_OUT='16', WHEELS_OFF='0034', SCHEDULED_TIME='286', ELAPSED_TIME='293', AIR_TIME='266', DISTANCE='2296', WHEELS_ON='0800', TAXI_IN='11', SCHEDULED_ARRIVAL='0806', ARRIVAL_TIME='0811', ARRIVAL_DELAY='5', DIVERTED='0', CANCELLED='0', CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None),
 Row(YEAR='2015', MONTH='1', DAY='1', DAY_OF_WEEK='4', AIRLINE='AA', FLIGHT_NUMBER='258', TAIL_NUMBER='N3HYAA', ORIGIN_AIRPORT='LAX', DESTINATION_AIRPORT='MIA', SCHEDULED_DEPARTURE='0020', DEPARTURE_TIME='0015', DEPARTURE_DELAY='-5', TAXI_OUT='15', WHEELS_OFF='0030', SCHEDULED_TIME='285', ELAPSED_TIME='281', AIR_TIME='258', DISTANCE='2342', WHEELS_ON='0748', TAXI_IN='8', SCHEDULED_ARRIVAL='0805', ARRIVAL_TIME='0756', ARRIVAL_DELAY='-9', DIVERTED='0', CANCELLED='0', CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None),
 Row(YEAR='2015', MONTH='1', DAY='1', DAY_OF_WEEK='4', AIRLINE='AS', FLIGHT_NUMBER='135', TAIL_NUMBER='N527AS', ORIGIN_AIRPORT='SEA', DESTINATION_AIRPORT='ANC', SCHEDULED_DEPARTURE='0025', DEPARTURE_TIME='0024', DEPARTURE_DELAY='-1', TAXI_OUT='11', WHEELS_OFF='0035', SCHEDULED_TIME='235', ELAPSED_TIME='215', AIR_TIME='199', DISTANCE='1448', WHEELS_ON='0254', TAXI_IN='5', SCHEDULED_ARRIVAL='0320', ARRIVAL_TIME='0259', ARRIVAL_DELAY='-21', DIVERTED='0', CANCELLED='0', CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None)]

In [ ]:
%%time
rdd_data_sample.map(lambda row: row[4]+row[5]).collect()

CPU times: user 12.5 ms, sys: 3.65 ms, total: 16.2 ms
Wall time: 133 ms

['AS98',
 'AA2336',
 'US840',
 'AA258',
 'AS135',
 'DL806',
 'NK612',
 'US2013',
 'AA1112',
 'DL1173',
 'DL2336',
 'AA1674',
 'DL1434',
 'DL2324',
 'DL2440',
 'AS108',
 'DL1560',
 'UA1197',
 'AS122',
 'DL1670',
 'NK520',
 'AA371',
 'NK214',
 'AA115',
 'DL1450',
 'UA1545',
 'AS130',
 'NK597',
 'US413',
 'AA2392',
 'NK168',
 'AA2211',
 'AS136',
 'DL95',
 'NK298',
 'HA17',
 'US617',
 'UA1528',
 'AS134',
 'B6304',
 'NK451',
 'NK972',
 'AA2459',
 'AS144',
 'NK647',
 'B61990',
 'US699',
 'AS114',
 'B6668',
 'UA1162',
 'B61030',
 'B6262',
 'B62134',
 'B6730',
 'B6768',
 'B62276',
 'US602',
 'AS695',
 'HA102',
 'OO5467',
 'HA108',
 'AS730',
 'HA206',
 'UA1500',
 'AA1323',
 'NK103',
 'OO7404',
 'OO7419',
 'OO5254',
 'US480',
 'AA1057',
 'AA2454',
 'EV4354',
 'US425',
 'AA89',
 'DL2099',
 'EV4685',
 'EV5583',
 'OO5484',
 'OO7370',
 'HA103',
 'EV5187',
 'MQ2859',
 'UA1201',
 'UA1221',
 'UA1607',
 'AA328',
 'EV5764',
 'F91279',
 'NK409',
 'OO5460',
 'OO6391',
 'UA1532',
 'UA1167',
 'UA1012',
 'B62001',
 'B62807',
 'B62023',
 'EV4557',
 'EV5241',
 'EV5498',
 'OO6512',
 'UA1577',
 'OO4986',
 'B6727',
 'B61012',
 'DL824',
 'DL941',
 'DL2079',
 'EV3268',
 'EV4160',
 'OO6285',
 'OO5184',
 'OO6358',
 'F9161',
 'OO4833',
 'UA1119',
 'UA1237',
 'UA1540',
 'AA1433',
 'AA2299',
 'B6721',
 'B6917',
 'B6939',
 'DL1890',
 'EV4646',
 'F9365',
 'F9117',
 'MQ2926',
 'OO2599',
 'OO5482',
 'OO6457',
 'HA218',
 'B6515',
 'UA228',
 'US641',
 'UA495',
 'UA507',
 'UA1553',
 'US403',
 'US446',
 'AA1178',
 'AA2410',
 'DL2453',
 'B62228',
 'EV4555',
 'EV5698',
 'MQ3534',
 'EV4339',
 'OO6204',
 'OO6261',
 'OO5160',
 'OO6224',
 'B6860',
 'EV5230',
 'WN526',
 'UA1222',
 'UA1507',
 'AA1094',
 'AA1233',
 'B6115',
 'B6185',
 'EV2519',
 'EV3928',
 'EV3941',
 'EV5976',
 'MQ3161',
 'EV5677',
 'NK224',
 'UA1457',
 'AA1205',
 'OO5547',
 'UA210',
 'UA214',
 'UA247',
 'UA256',
 'UA319',
 'UA374',
 'US635',
 'US646',
 'US1941',
 'UA422',
 'UA544',
 'UA1016',
 'WN4122',
 'WN4822',
 'WN2215',
 'WN676',
 'WN2787',
 'WN4859',
 'WN597',
 'UA1158',
 'UA1163',
 'UA1188',
 'UA1198',
 'UA1224',
 'UA1296',
 'UA1431',
 'UA1637',
 'UA1735',
 'US410',
 'US459',
 'US610',
 'AA72',
 'AA196',
 'AA304',
 'AA175',
 'AA281',
 'AA233',
 'AA1100',
 'AA1103',
 'AA1028',
 'AA1039',
 'AA1055',
 'AA1180',
 'AA1345',
 'AA1297',
 'AA1411',
 'AA1084',
 'AA1088',
 'AA1534',
 'AA1573',
 'AA1660',
 'AA2204',
 'AA1515',
 'AA2307',
 'AA2363',
 'AS81',
 'AS162',
 'AS200',
 'AS342',
 'AS406',
 'AS477',
 'AS631',
 'AS683',
 'AS699',
 'B6130',
 'B6154',
 'B6353',
 'B6226',
 'B6272',
 'B6447',
 'B6371',
 'B6583',
 'B6605',
 'B6525',
 'B6746',
 'B6776',
 'B6794',
 'B6838',
 'B6892',
 'B61678',
 'B61790',
 'DL421',
 'DL731',
 'DL743',
 'DL750',
 'DL809',
 'DL904',
 'DL977',
 'DL1088',
 'DL1098',
 'DL1205',
 'DL1234',
 'DL1235',
 'AA1462',
 'AA913',
 'DL1961',
 'DL2154',
 'DL2282',
 'DL2417',
 'DL1540',
 'DL1574',
 'DL1700',
 'DL1867',
 'DL1937',
 'B6159',
 'B6198',
 'B61502',
 'B61504',
 'B61600',
 'EV2533',
 'EV4213',
 'EV4431',
 'EV4411',
 'EV4756',
 'EV4768',
 'EV4740',
 'EV5103',
 'EV5275',
 'EV5491',
 'EV5978',
 'EV5917',
 'EV6133',
 'EV6082',
 'EV6122',
 'EV6143',
 'F9865',
 'F91256',
 'F91104',
 'F91057',
 'F9144',
 'F91056',
 'F9901',
 'F9902',
 'HA202',
 'MQ2898',
 'MQ2957',
 'MQ2962',
 'MQ3014',
 'MQ3015',
 'MQ3079',
 'MQ3189',
 'MQ3302',
 'MQ3338',
 'MQ3350',
 'MQ3355',
 'MQ3251',
 'MQ3377',
 'MQ3441',
 'MQ3540',
 'MQ3488',
 'MQ3597',
 'MQ3611',
 'MQ3678',
 'NK188',
 'NK925',
 'NK943',
 'NK316',
 'NK972',
 'OO2622',
 'OO6360',
 'OO6369',
 'OO5330',
 'OO5292',
 'OO6276',
 'OO6235',
 'OO3489',
 'OO3461',
 'OO7423',
 'OO5318',
 'OO5445',
 'OO5242',
 'OO5462',
 'OO5466',
 'OO5550',
 'OO5574',
 'MQ3221',
 'MQ3224',
 'OO5522',
 'OO5592',
 'OO5604',
 'OO5170',
 'OO5429',
 'OO5435',
 'OO6378',
 'OO6401',
 'OO6332',
 'OO6346',
 'OO6465',
 'OO7392',
 'OO6403',
 'OO6497',
 'UA576',
 'UA1410',
 'UA1689',
 'EV6020',
 'HA113',
 'OO5629',
 'OO6420',
 'UA223',
 'UA996',
 'UA1721',
 'EV4390',
 'EV5732',
 'F9756',
 'UA234',
 'UA415',
 'US647',
 'US829',
 'US1743',
 'UA1023',
 'WN2505',
 'WN239',
 'WN474',
 'UA1245',
 'US560',
 'AA310',
 'AA375',
 'AA378',
 'AA1291',
 'AS320',
 'AS602',
 'B6233',
 'B6601',
 'B6735',
 'B6922',
 'B61184',
 'B61434',
 'DL1065',
 'DL1456',
 'DL1723',
 'EV4642',
 'EV4928',
 'F9609',
 'F9821',
 'F9133',
 'MQ2881',
 'MQ2771',
 'MQ3288',
 'MQ3328',
 'MQ3408',
 'MQ3643',
 'HA286',
 'OO5181',
 'OO6499',
 'UA1160',
 'UA1601',
 'OO6461',
 'NK606',
 'OO7389',
 'UA220',
 'UA654',
 'EV6119',
 'OO5456',
 'HA205',
 'OO4494',
 'OO5370',
 'US1709',
 'WN828',
 'UA1632',
 'UA1725',
 'AA168',
 'AA1315',
 'AA1336',
 'AA1619',
 'AA1686',
 'AS345',
 'AS454',
 'B657',
 'B624',
 'B61279',
 'B61836',
 'AA1361',
 'DL327',
 'DL1492',
 'B61554',
 'EV4556',
 'EV6071',
 'F91252',
 'MQ3323',
 'MQ3601',
 'MQ3551',
 'OO5572',
 'AA1312',
 'B6269',
 'EV4506',
 'OO5337',
 'NK562',
 'UA416',
 'B61403',
 'HA107',
 'OO4681',
 'US1754',
 'US1789',
 'WN1966',
 'WN2351',
 'WN137',
 'AA1125',
 'AA1165',
 'AA1581',
 'AA2253',
 'AS504',
 'B699',
 'B6962',
 'B62006',
 'DL828',
 'DL978',
 'DL985',
 'DL1275',
 'DL2384',
 'DL1610',
 'DL1866',
 'DL1919',
 'EV2522',
 'EV2512',
 'EV2572',
 'EV4531',
 'EV4655',
 'EV5123',
 'F9582',
 'F9439',
 'MQ2958',
 'MQ3432',
 'MQ3613',
 'MQ3568',
 'OO5348',
 'OO5256',
 'OO4747',
 'OO5464',
 'OO5608',
 'OO5636',
 'OO6571',
 'OO6573',
 'OO6616',
 'NK612',
 'NK940',
 'OO6368',
 'HA101',
 'B6762',
 'OO5249',
 'UA207',
 'US1931',
 'UA732',
 'WN698',
 'WN799',
 'WN687',
 'WN823',
 'WN603',
 'WN885',
 'UA1192',
 'UA1568',
 'US460',
 'AA269',
 'AA1186',
 'AA1390',
 'AA2420',
 'AS545',
 'AA955',
 'DL2129',
 'DL1518',
 'DL1588',
 'EV4468',
 'EV5534',
 'F91338',
 'MQ3205',
 'MQ3173',
 'NK470',
 'NK742',
 'OO4762',
 'OO4716',
 'OO5616',
 'UA1026',
 'B61481',
 'F9344',
 'OO4624',
 'OO6372',
 'NK200',
 'UA206',
 'DL1515',
 'US1982',
 'UA525',
 'WN871',
 'WN343',
 'US598',
 'AA127',
 'AA387',
 'AA1079',
 'AA1207',
 'AA1343',
 'AA1635',
 'AA2379',
 'AA2272',
 'AS124',
 'B670',
 'B6966',
 'DL891',
 'DL2234',
 'DL2480',
 'B62180',
 'EV5221',
 'F9308',
 'MQ3609',
 'MQ3634',
 'NK969',
 'OO6557',
 'OO6564',
 'EV4418',
 'OO6230',
 'EV3272',
 'HA104',
 'OO7396',
 'DL1592',
 'UA195',
 'US649',
 'US674',
 'US835',
 'UA572',
 'UA577',
 'OO5628',
 'WN4570',
 'WN660',
 'UA1231',
 'US401',
 'US433',
 'US567',
 'US595',
 'AA148',
 'AA330',
 'AA1381',
 'AS157',
 'AS499',
 'AS573',
 'B623',
 'B61099',
 'B6929',
 'B61285',
 'DL418',
 'DL783',
 'DL1984',
 'DL2114',
 'DL2283',
 'DL2370',
 'DL1598',
 'DL1809',
 'DL1872',
 'EV2549',
 'EV3261',
 'EV3929',
 'EV4306',
 'F9295',
 'F9711',
 'F91246',
 'F91108',
 'MQ2913',
 'MQ3649',
 'OO2604',
 'NK379',
 'OO5381',
 'OO4553',
 'OO5186',
 'OO5581',
 'OO6588',
 'UA1534',
 'EV5764',
 'HA114',
 'B6675',
 'OO5297',
 'UA410',
 'US700',
 'WN1926',
 'WN1119',
 'US474',
 'AA129',
 'AA1349',
 'AA1543',
 'AA2220',
 'AS240',
 'AS576',
 'AS724',
 'B6475',
 'B61467',
 'AA1441',
 'DL2005',
 'DL2290',
 'DL1864',
 'EV5579',
 'MQ3443',
 'OO4758',
 'OO3460',
 'UA665',
 'DL1056',
 'OO4577',
 'US1718',
 'US1943',
 'US1946',
 'WN795',
 'WN692',
 'WN1170',
 'WN653',
 'WN890',
 'WN832',
 'UA1284',
 'UA1748',
 'AA1305',
 'AA1285',
 'AA1562',
 'AS548',
 'AS558',
 'AS560',
 'AS569',
 'AS662',
 'AS709',
 'AA2476',
 'DL1332',
 'DL2135',
 'DL2276',
 'DL2566',
 'EV2506',
 'EV2555',
 'EV2561',
 'EV2537',
 'MQ2775',
 'MQ2966',
 'MQ3359',
 'MQ3476',
 'MQ3589',
 'NK705',
 'NK567',
 'NK417',
 'OO3456',
 'OO5492',
 'OO6495',
 'OO5291',
 'UA536',
 'UA259',
 'UA792',
 'VX922',
 'WN3213',
 'WN2599',
 'WN2199',
 'WN3739',
 'WN1188',
 'WN4563',
 'US593',
 'AA323',
 'AA1107',
 'AA1234',
 'AA1283',
 'AA1287',
 'AA1300',
 'AA2326',
 'B6318',
 'B61137',
 'DL716',
 'DL765',
 'DL801',
 'DL827',
 'DL860',
 'DL886',
 'DL1135',
 'DL1324',
 'AA1449',
 'DL246',
 'AA2395',
 'EV4438',
 'EV6042',
 'F9110',
 'F9782',
 'F9268',
 'MQ2965',
 'MQ3009',
 'MQ3431',
 'NK301',
 'NK725',
 'OO6262',
 'OO4811',
 'OO6502',
 'OO6523',
 'OO4974',
 'OO7385',
 'B61208',
 'HA338',
 'OO6291',
 'DL1212',
 'UA284',
 'US1866',
 'US2071',
 'WN985',
 'WN739',
 'WN2964',
 'UA1291',
 'US408',
 'AA338',
 'AA1371',
 'AA1318',
 'AA1595',
 'AA2226',
 'AA2429',
 'AA2424',
 'AS321',
 'AS582',
 'AS629',
 'AS805',
 'B6148',
 'DL476',
 'DL1085',
 'DL2512',
 'EV6175',
 'MQ3082',
 'MQ2973',
 'MQ3294',
 'MQ3268',
 'MQ3419',
 'NK729',
 'OO5536',
 'OO5428',
 'UA464',
 'HA332',
 'AA1101',
 'NK111',
 'UA1077',
 'UA1510',
 'UA204',
 'US773',
 'US1960',
 'UA670',
 'WN707',
 'WN537',
 'WN897',
 'WN753',
 'WN969',
 'WN4120',
 'AA299',
 'AA367',
 'AA222',
 'AA1104',
 'AA1373',
 'AA2401',
 'B616',
 'DL1071',
 'DL2090',
 'B62324',
 'B62702',
 'DL1651',
 'DL1818',
 'EV3924',
 'F9907',
 'MQ3063',
 'MQ3110',
 'MQ3188',
 'UA821',
 'UA312',
 'US823',
 'UA1052',
 'AA1553',
 'B615',
 'B6453',
 'DL1547',
 'OO6618',
 'OO5366',
 'UA356',
 'UA392',
 'UA417',
 'US852',
 'US1722',
 'US1877',
 'US1961',
 'US1978',
 'US2064',
 'UA463',
 'UA514',
 'UA521',
 'UA736',
 'UA795',
 'UA1027',
 'VX399',
 'VX897',
 'WN473',
 'WN309',
 'WN369',
 'WN4635',
 'WN1019',
 'WN194',
 'WN2511',
 'WN767',
 'WN390',
 'WN443',
 'WN921',
 'WN2373',
 'UA1195',
 'UA1697',
 'US424',
 'US461',
 'US568',
 'US590',
 'US621',
 'AA9',
 'AA17',
 'AA118',
 'AA68',
 'AA201',
 'AA204',
 'AA309',
 'AA315',
 'AA1242',
 'AA1247',
 'AA1258',
 'AA1273',
 'AA1354',
 'AA1529',
 'AA1582',
 'AA1699',
 'AA1507',
 'AA1513',
 'AA1648',
 'AA2291',
 'AA2451',
 'AS17',
 'AS39',
 'AS112',
 'AS311',
 'AS313',
 'AS405',
 'AS415',
 'AS445',
 'AS466',
 'AS519',
 'AS531',
 'AS615',
 'AS663',
 'AS722',
 'AS833',
 'AS847',
 'AS883',
 'B6288',
 'B6289',
 'B6619',
 'B6723',
 'B61109',
 'B61121',
 'B61031',
 'B61039',
 'B62007',
 'DL364',
 'DL400',
 'DL424',
 'DL822',
 'DL854',
 'DL872',
 'DL1183',
 'DL1280',
 'DL1305',
 'DL1440',
 'DL1453',
 'AA1461',
 'DL1971',
 'DL2017',
 'DL2123',
 'DL2151',
 'DL2180',
 'DL2351',
 'DL2365',
 'DL2539',
 'B62784',
 'DL46',
 'DL1498',
 'DL1506',
 'DL1795',
 'DL1894',
 'DL1925',
 'AA2393',
 'EV4513',
 'EV4524',
 'EV4871',
 'EV4987',
 'EV5423',
 'EV5755',
 'F91061',
 'F91120',
 'F9676',
 'F9681',
 'MQ2841',
 'MQ2852',
 'MQ2871',
 'MQ3024',
 'MQ3051',
 'MQ2991',
 'MQ3362',
 'NK231',
 'NK259',
 'NK183',
 'NK193',
 'NK198',
 'NK610',
 'OO6194',
 'OO6272',
 'OO3479',
 'HA217',
 'OO4623',
 'OO5471',
 'OO5632',
 'OO6225',
 'OO7382',
 'OO5633',
 'UA296',
 'UA656',
 'UA1441',
 'UA1764',
 'AA130',
 'EV4221',
 'EV6159',
 'NK410',
 'OO6382',
 'UA761',
 'VX12',
 'WN2851',
 'WN1108',
 'WN1432',
 'WN1863',
 'WN665',
 'WN323',
 'WN2041',
 'WN4649',
 'WN893',
 'WN552',
 'WN3239',
 'WN1912',
 'UA1660',
 'US445']

In [ ]:
%%time
rdd_data_sample.filter(lambda row: row[4] == 'DL').collect()

CPU times: user 11.1 ms, sys: 2.15 ms, total: 13.2 ms
Wall time: 85.7 ms

[Row(YEAR='2015', MONTH='1', DAY='1', DAY_OF_WEEK='4', AIRLINE='DL', FLIGHT_NUMBER='806', TAIL_NUMBER='N3730B', ORIGIN_AIRPORT='SFO', DESTINATION_AIRPORT='MSP', SCHEDULED_DEPARTURE='0025', DEPARTURE_TIME='0020', DEPARTURE_DELAY='-5', TAXI_OUT='18', WHEELS_OFF='0038', SCHEDULED_TIME='217', ELAPSED_TIME='230', AIR_TIME='206', DISTANCE='1589', WHEELS_ON='0604', TAXI_IN='6', SCHEDULED_ARRIVAL='0602', ARRIVAL_TIME='0610', ARRIVAL_DELAY='8', DIVERTED='0', CANCELLED='0', CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None),
 Row(YEAR='2015', MONTH='1', DAY='1', DAY_OF_WEEK='4', AIRLINE='DL', FLIGHT_NUMBER='1173', TAIL_NUMBER='N826DN', ORIGIN_AIRPORT='LAS', DESTINATION_AIRPORT='ATL', SCHEDULED_DEPARTURE='0030', DEPARTURE_TIME='0033', DEPARTURE_DELAY='3', TAXI_OUT='12', WHEELS_OFF='0045', SCHEDULED_TIME='221', ELAPSED_TIME='203', AIR_TIME='186', DISTANCE='1747', WHEELS_ON='0651', TAXI_IN='5', SCHEDULED_ARRIVAL='0711', ARRIVAL_TIME='0656', ARRIVAL_DELAY='-15', DIVERTED='0', CANCELLED='0', CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None),
 Row(YEAR='2015', MONTH='1', DAY='1', DAY_OF_WEEK='4', AIRLINE='DL', FLIGHT_NUMBER='2336', TAIL_NUMBER='N958DN', ORIGIN_AIRPORT='DEN', DESTINATION_AIRPORT='ATL', SCHEDULED_DEPARTURE='0030', DEPARTURE_TIME='0024', DEPARTURE_DELAY='-6', TAXI_OUT='12', WHEELS_OFF='0036', SCHEDULED_TIME='173', ELAPSED_TIME='149', AIR_TIME='133', DISTANCE='1199', WHEELS_ON='0449', TAXI_IN='4', SCHEDULED_ARRIVAL='0523', ARRIVAL_TIME='0453', ARRIVAL_DELAY='-30', DIVERTED='0', CANCELLED='0', CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None),
 Row(YEAR='2015', MONTH='1', DAY='1', DAY_OF_WEEK='4', AIRLINE='DL', FLIGHT_NUMBER='1434', TAIL_NUMBER='N547US', ORIGIN_AIRPORT='LAX', DESTINATION_AIRPORT='MSP', SCHEDULED_DEPARTURE='0035', DEPARTURE_TIME='0035', DEPARTURE_DELAY='0', TAXI_OUT='18', WHEELS_OFF='0053', SCHEDULED_TIME='214', ELAPSED_TIME='210', AIR_TIME='188', DISTANCE='1535', WHEELS_ON='0601', TAXI_IN='4', SCHEDULED_ARRIVAL='0609', ARRIVAL_TIME='0605', ARRIVAL_DELAY='-4', DIVERTED='0', CANCELLED='0', CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None),
 Row(YEAR='2015', MONTH='1', DAY='1', DAY_OF_WEEK='4', AIRLINE='DL', FLIGHT_NUMBER='2324', TAIL_NUMBER='N3751B', ORIGIN_AIRPORT='SLC', DESTINATION_AIRPORT='ATL', SCHEDULED_DEPARTURE='0040', DEPARTURE_TIME='0034', DEPARTURE_DELAY='-6', TAXI_OUT='18', WHEELS_OFF='0052', SCHEDULED_TIME='215', ELAPSED_TIME='199', AIR_TIME='176', DISTANCE='1590', WHEELS_ON='0548', TAXI_IN='5', SCHEDULED_ARRIVAL='0615', ARRIVAL_TIME='0553', ARRIVAL_DELAY='-22', DIVERTED='0', CANCELLED='0', CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None),
 Row(YEAR='2015', MONTH='1', DAY='1', DAY_OF_WEEK='4', AIRLINE='DL', FLIGHT_NUMBER='2440', TAIL_NUMBER='N651DL', ORIGIN_AIRPORT='SEA', DESTINATION_AIRPORT='MSP', SCHEDULED_DEPARTURE='0040', DEPARTURE_TIME='0039', DEPARTURE_DELAY='-1', TAXI_OUT='28', WHEELS_OFF='0107', SCHEDULED_TIME='189', ELAPSED_TIME='198', AIR_TIME='166', DISTANCE='1399', WHEELS_ON='0553', TAXI_IN='4', SCHEDULED_ARRIVAL='0549', ARRIVAL_TIME='0557', ARRIVAL_DELAY='8', DIVERTED='0', CANCELLED='0', CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None),
 Row(YEAR='2015', MONTH='1', DAY='1', DAY_OF_WEEK='4', AIRLINE='DL', FLIGHT_NUMBER='1560', TAIL_NUMBER='N3743H', ORIGIN_AIRPORT='ANC', DESTINATION_AIRPORT='SEA', SCHEDULED_DEPARTURE='0045', DEPARTURE_TIME='0031', DEPARTURE_DELAY='-14', TAXI_OUT='25', WHEELS_OFF='0056', SCHEDULED_TIME='210', ELAPSED_TIME='200', AIR_TIME='171', DISTANCE='1448', WHEELS_ON='0447', TAXI_IN='4', SCHEDULED_ARRIVAL='0515', ARRIVAL_TIME='0451', ARRIVAL_DELAY='-24', DIVERTED='0', CANCELLED='0', CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None),
 Row(YEAR='2015', MONTH='1', DAY='1', DAY_OF_WEEK='4', AIRLINE='DL', FLIGHT_NUMBER='1670', TAIL_NUMBER='N806DN', ORIGIN_AIRPORT='PDX', DESTINATION_AIRPORT='MSP', SCHEDULED_DEPARTURE='0050', DEPARTURE_TIME='0045', DEPARTURE_DELAY='-5', TAXI_OUT='9', WHEELS_OFF='0054', SCHEDULED_TIME='193', ELAPSED_TIME='186', AIR_TIME='171', DISTANCE='1426', WHEELS_ON='0545', TAXI_IN='6', SCHEDULED_ARRIVAL='0603', ARRIVAL_TIME='0551', ARRIVAL_DELAY='-12', DIVERTED='0', CANCELLED='0', CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None),
 Row(YEAR='2015', MONTH='1', DAY='1', DAY_OF_WEEK='4', AIRLINE='DL', FLIGHT_NUMBER='1450', TAIL_NUMBER='N671DN', ORIGIN_AIRPORT='LAS', DESTINATION_AIRPORT='MSP', SCHEDULED_DEPARTURE='0105', DEPARTURE_TIME='0102', DEPARTURE_DELAY='-3', TAXI_OUT='11', WHEELS_OFF='0113', SCHEDULED_TIME='183', ELAPSED_TIME='163', AIR_TIME='150', DISTANCE='1299', WHEELS_ON='0543', TAXI_IN='2', SCHEDULED_ARRIVAL='0608', ARRIVAL_TIME='0545', ARRIVAL_DELAY='-23', DIVERTED='0', CANCELLED='0', CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None),
 Row(YEAR='2015', MONTH='1', DAY='1', DAY_OF_WEEK='4', AIRLINE='DL', FLIGHT_NUMBER='95', TAIL_NUMBER='N320US', ORIGIN_AIRPORT='SLC', DESTINATION_AIRPORT='ATL', SCHEDULED_DEPARTURE='0140', DEPARTURE_TIME='0134', DEPARTURE_DELAY='-6', TAXI_OUT='43', WHEELS_OFF='0217', SCHEDULED_TIME='215', ELAPSED_TIME='231', AIR_TIME='182', DISTANCE='1590', WHEELS_ON='0719', TAXI_IN='6', SCHEDULED_ARRIVAL='0715', ARRIVAL_TIME='0725', ARRIVAL_DELAY='10', DIVERTED='0', CANCELLED='0', CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None),
 Row(YEAR='2015', MONTH='1', DAY='1', DAY_OF_WEEK='4', AIRLINE='DL', FLIGHT_NUMBER='2099', TAIL_NUMBER='N355NW', ORIGIN_AIRPORT='BNA', DESTINATION_AIRPORT='DTW', SCHEDULED_DEPARTURE='0520', DEPARTURE_TIME='0511', DEPARTURE_DELAY='-9', TAXI_OUT='30', WHEELS_OFF='0541', SCHEDULED_TIME='103', ELAPSED_TIME='106', AIR_TIME='66', DISTANCE='456', WHEELS_ON='0747', TAXI_IN='10', SCHEDULED_ARRIVAL='0803', ARRIVAL_TIME='0757', ARRIVAL_DELAY='-6', DIVERTED='0', CANCELLED='0', CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None),
 Row(YEAR='2015', MONTH='1', DAY='1', DAY_OF_WEEK='4', AIRLINE='DL', FLIGHT_NUMBER='824', TAIL_NUMBER='N3736C', ORIGIN_AIRPORT='PHX', DESTINATION_AIRPORT='DTW', SCHEDULED_DEPARTURE='0540', DEPARTURE_TIME='0808', DEPARTURE_DELAY='148', TAXI_OUT='19', WHEELS_OFF='0827', SCHEDULED_TIME='223', ELAPSED_TIME='203', AIR_TIME='178', DISTANCE='1671', WHEELS_ON='1325', TAXI_IN='6', SCHEDULED_ARRIVAL='1123', ARRIVAL_TIME='1331', ARRIVAL_DELAY='128', DIVERTED='0', CANCELLED='0', CANCELLATION_REASON=None, AIR_SYSTEM_DELAY='0', SECURITY_DELAY='0', AIRLINE_DELAY='0', LATE_AIRCRAFT_DELAY='0', WEATHER_DELAY='128'),
 Row(YEAR='2015', MONTH='1', DAY='1', DAY_OF_WEEK='4', AIRLINE='DL', FLIGHT_NUMBER='941', TAIL_NUMBER='N910DN', ORIGIN_AIRPORT='MCI', DESTINATION_AIRPORT='ATL', SCHEDULED_DEPARTURE='0540', DEPARTURE_TIME='0546', DEPARTURE_DELAY='6', TAXI_OUT='11', WHEELS_OFF='0557', SCHEDULED_TIME='122', ELAPSED_TIME='101', AIR_TIME='84', DISTANCE='692', WHEELS_ON='0821', TAXI_IN='6', SCHEDULED_ARRIVAL='0842', ARRIVAL_TIME='0827', ARRIVAL_DELAY='-15', DIVERTED='0', CANCELLED='0', CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None),
 Row(YEAR='2015', MONTH='1', DAY='1', DAY_OF_WEEK='4', AIRLINE='DL', FLIGHT_NUMBER='2079', TAIL_NUMBER='N389DA', ORIGIN_AIRPORT='BOS', DESTINATION_AIRPORT='DTW', SCHEDULED_DEPARTURE='0540', DEPARTURE_TIME='0537', DEPARTURE_DELAY='-3', TAXI_OUT='15', WHEELS_OFF='0552', SCHEDULED_TIME='143', ELAPSED_TIME='125', AIR_TIME='105', DISTANCE='632', WHEELS_ON='0737', TAXI_IN='5', SCHEDULED_ARRIVAL='0803', ARRIVAL_TIME='0742', ARRIVAL_DELAY='-21', DIVERTED='0', CANCELLED='0', CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None),
 Row(YEAR='2015', MONTH='1', DAY='1', DAY_OF_WEEK='4', AIRLINE='DL', FLIGHT_NUMBER='1890', TAIL_NUMBER='N377DA', ORIGIN_AIRPORT='DFW', DESTINATION_AIRPORT='ATL', SCHEDULED_DEPARTURE='0545', DEPARTURE_TIME='0603', DEPARTURE_DELAY='18', TAXI_OUT='13', WHEELS_OFF='0616', SCHEDULED_TIME='124', ELAPSED_TIME='104', AIR_TIME='86', DISTANCE='731', WHEELS_ON='0842', TAXI_IN='5', SCHEDULED_ARRIVAL='0849', ARRIVAL_TIME='0847', ARRIVAL_DELAY='-2', DIVERTED='0', CANCELLED='0', CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None),
 Row(YEAR='2015', MONTH='1', DAY='1', DAY_OF_WEEK='4', AIRLINE='DL', FLIGHT_NUMBER='2453', TAIL_NUMBER='N966DL', ORIGIN_AIRPORT='GSP', DESTINATION_AIRPORT='ATL', SCHEDULED_DEPARTURE='0550', DEPARTURE_TIME='0550', DEPARTURE_DELAY='0', TAXI_OUT='26', WHEELS_OFF='0616', SCHEDULED_TIME='59', ELAPSED_TIME='59', AIR_TIME='28', DISTANCE='153', WHEELS_ON='0644', TAXI_IN='5', SCHEDULED_ARRIVAL='0649', ARRIVAL_TIME='0649', ARRIVAL_DELAY='0', DIVERTED='0', CANCELLED='0', CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None),
 Row(YEAR='2015', MONTH='1', DAY='1', DAY_OF_WEEK='4', AIRLINE='DL', FLIGHT_NUMBER='421', TAIL_NUMBER='N967DL', ORIGIN_AIRPORT='JFK', DESTINATION_AIRPORT='ATL', SCHEDULED_DEPARTURE='0600', DEPARTURE_TIME='0605', DEPARTURE_DELAY='5', TAXI_OUT='18', WHEELS_OFF='0623', SCHEDULED_TIME='163', ELAPSED_TIME='139', AIR_TIME='117', DISTANCE='760', WHEELS_ON='0820', TAXI_IN='4', SCHEDULED_ARRIVAL='0843', ARRIVAL_TIME='0824', ARRIVAL_DELAY='-19', DIVERTED='0', CANCELLED='0', CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None),
 Row(YEAR='2015', MONTH='1', DAY='1', DAY_OF_WEEK='4', AIRLINE='DL', FLIGHT_NUMBER='731', TAIL_NUMBER='N323NB', ORIGIN_AIRPORT='LGA', DESTINATION_AIRPORT='DTW', SCHEDULED_DEPARTURE='0600', DEPARTURE_TIME='0604', DEPARTURE_DELAY='4', TAXI_OUT='10', WHEELS_OFF='0614', SCHEDULED_TIME='118', ELAPSED_TIME='113', AIR_TIME='97', DISTANCE='502', WHEELS_ON='0751', TAXI_IN='6', SCHEDULED_ARRIVAL='0758', ARRIVAL_TIME='0757', ARRIVAL_DELAY='-1', DIVERTED='0', CANCELLED='0', CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None),
 Row(YEAR='2015', MONTH='1', DAY='1', DAY_OF_WEEK='4', AIRLINE='DL', FLIGHT_NUMBER='743', TAIL_NUMBER='N341NW', ORIGIN_AIRPORT='RNO', DESTINATION_AIRPORT='SLC', SCHEDULED_DEPARTURE='0600', DEPARTURE_TIME='0600', DEPARTURE_DELAY='0', TAXI_OUT='31', WHEELS_OFF='0631', SCHEDULED_TIME='100', ELAPSED_TIME='118', AIR_TIME='68', DISTANCE='422', WHEELS_ON='0839', TAXI_IN='19', SCHEDULED_ARRIVAL='0840', ARRIVAL_TIME='0858', ARRIVAL_DELAY='18', DIVERTED='0', CANCELLED='0', CANCELLATION_REASON=None, AIR_SYSTEM_DELAY='18', SECURITY_DELAY='0', AIRLINE_DELAY='0', LATE_AIRCRAFT_DELAY='0', WEATHER_DELAY='0'),
 Row(YEAR='2015', MONTH='1', DAY='1', DAY_OF_WEEK='4', AIRLINE='DL', FLIGHT_NUMBER='750', TAIL_NUMBER='N995AT', ORIGIN_AIRPORT='BOS', DESTINATION_AIRPORT='JFK', SCHEDULED_DEPARTURE='0600', DEPARTURE_TIME='0556', DEPARTURE_DELAY='-4', TAXI_OUT='20', WHEELS_OFF='0616', SCHEDULED_TIME='80', ELAPSED_TIME='76', AIR_TIME='44', DISTANCE='187', WHEELS_ON='0700', TAXI_IN='12', SCHEDULED_ARRIVAL='0720', ARRIVAL_TIME='0712', ARRIVAL_DELAY='-8', DIVERTED='0', CANCELLED='0', CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None),
 Row(YEAR='2015', MONTH='1', DAY='1', DAY_OF_WEEK='4', AIRLINE='DL', FLIGHT_NUMBER='809', TAIL_NUMBER='N931DN', ORIGIN_AIRPORT='BOS', DESTINATION_AIRPORT='MSP', SCHEDULED_DEPARTURE='0600', DEPARTURE_TIME='0600', DEPARTURE_DELAY='0', TAXI_OUT='23', WHEELS_OFF='0623', SCHEDULED_TIME='210', ELAPSED_TIME='212', AIR_TIME='186', DISTANCE='1124', WHEELS_ON='0829', TAXI_IN='3', SCHEDULED_ARRIVAL='0830', ARRIVAL_TIME='0832', ARRIVAL_DELAY='2', DIVERTED='0', CANCELLED='0', CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None),
 Row(YEAR='2015', MONTH='1', DAY='1', DAY_OF_WEEK='4', AIRLINE='DL', FLIGHT_NUMBER='904', TAIL_NUMBER='N3748Y', ORIGIN_AIRPORT='LGA', DESTINATION_AIRPORT='ATL', SCHEDULED_DEPARTURE='0600', DEPARTURE_TIME='0601', DEPARTURE_DELAY='1', TAXI_OUT='11', WHEELS_OFF='0612', SCHEDULED_TIME='159', ELAPSED_TIME='126', AIR_TIME='111', DISTANCE='762', WHEELS_ON='0803', TAXI_IN='4', SCHEDULED_ARRIVAL='0839', ARRIVAL_TIME='0807', ARRIVAL_DELAY='-32', DIVERTED='0', CANCELLED='0', CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None),
 Row(YEAR='2015', MONTH='1', DAY='1', DAY_OF_WEEK='4', AIRLINE='DL', FLIGHT_NUMBER='977', TAIL_NUMBER='N988DL', ORIGIN_AIRPORT='ORD', DESTINATION_AIRPORT='ATL', SCHEDULED_DEPARTURE='0600', DEPARTURE_TIME='0602', DEPARTURE_DELAY='2', TAXI_OUT='19', WHEELS_OFF='0621', SCHEDULED_TIME='127', ELAPSED_TIME='104', AIR_TIME='80', DISTANCE='606', WHEELS_ON='0841', TAXI_IN='5', SCHEDULED_ARRIVAL='0907', ARRIVAL_TIME='0846', ARRIVAL_DELAY='-21', DIVERTED='0', CANCELLED='0', CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None),
 Row(YEAR='2015', MONTH='1', DAY='1', DAY_OF_WEEK='4', AIRLINE='DL', FLIGHT_NUMBER='1088', TAIL_NUMBER='N682DA', ORIGIN_AIRPORT='ANC', DESTINATION_AIRPORT='MSP', SCHEDULED_DEPARTURE='0600', DEPARTURE_TIME='0557', DEPARTURE_DELAY='-3', TAXI_OUT='11', WHEELS_OFF='0608', SCHEDULED_TIME='317', ELAPSED_TIME='280', AIR_TIME='266', DISTANCE='2519', WHEELS_ON='1334', TAXI_IN='3', SCHEDULED_ARRIVAL='1417', ARRIVAL_TIME='1337', ARRIVAL_DELAY='-40', DIVERTED='0', CANCELLED='0', CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None),
 Row(YEAR='2015', MONTH='1', DAY='1', DAY_OF_WEEK='4', AIRLINE='DL', FLIGHT_NUMBER='1098', TAIL_NUMBER='N966AT', ORIGIN_AIRPORT='ATW', DESTINATION_AIRPORT='ATL', SCHEDULED_DEPARTURE='0600', DEPARTURE_TIME='0601', DEPARTURE_DELAY='1', TAXI_OUT='9', WHEELS_OFF='0610', SCHEDULED_TIME='143', ELAPSED_TIME='110', AIR_TIME='97', DISTANCE='765', WHEELS_ON='0847', TAXI_IN='4', SCHEDULED_ARRIVAL='0923', ARRIVAL_TIME='0851', ARRIVAL_DELAY='-32', DIVERTED='0', CANCELLED='0', CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None),
 Row(YEAR='2015', MONTH='1', DAY='1', DAY_OF_WEEK='4', AIRLINE='DL', FLIGHT_NUMBER='1205', TAIL_NUMBER='N612DL', ORIGIN_AIRPORT='PHX', DESTINATION_AIRPORT='ATL', SCHEDULED_DEPARTURE='0600', DEPARTURE_TIME='0804', DEPARTURE_DELAY='124', TAXI_OUT='16', WHEELS_OFF='0820', SCHEDULED_TIME='207', ELAPSED_TIME='190', AIR_TIME='169', DISTANCE='1587', WHEELS_ON='1309', TAXI_IN='5', SCHEDULED_ARRIVAL='1127', ARRIVAL_TIME='1314', ARRIVAL_DELAY='107', DIVERTED='0', CANCELLED='0', CANCELLATION_REASON=None, AIR_SYSTEM_DELAY='0', SECURITY_DELAY='0', AIRLINE_DELAY='0', LATE_AIRCRAFT_DELAY='0', WEATHER_DELAY='107'),
 Row(YEAR='2015', MONTH='1', DAY='1', DAY_OF_WEEK='4', AIRLINE='DL', FLIGHT_NUMBER='1234', TAIL_NUMBER='N912DE', ORIGIN_AIRPORT='PNS', DESTINATION_AIRPORT='ATL', SCHEDULED_DEPARTURE='0600', DEPARTURE_TIME='0554', DEPARTURE_DELAY='-6', TAXI_OUT='8', WHEELS_OFF='0602', SCHEDULED_TIME='69', ELAPSED_TIME='55', AIR_TIME='41', DISTANCE='271', WHEELS_ON='0743', TAXI_IN='6', SCHEDULED_ARRIVAL='0809', ARRIVAL_TIME='0749', ARRIVAL_DELAY='-20', DIVERTED='0', CANCELLED='0', CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None),
 Row(YEAR='2015', MONTH='1', DAY='1', DAY_OF_WEEK='4', AIRLINE='DL', FLIGHT_NUMBER='1235', TAIL_NUMBER='N358NW', ORIGIN_AIRPORT='MCO', DESTINATION_AIRPORT='SLC', SCHEDULED_DEPARTURE='0600', DEPARTURE_TIME='0554', DEPARTURE_DELAY='-6', TAXI_OUT='15', WHEELS_OFF='0609', SCHEDULED_TIME='304', ELAPSED_TIME='300', AIR_TIME='280', DISTANCE='1931', WHEELS_ON='0849', TAXI_IN='5', SCHEDULED_ARRIVAL='0904', ARRIVAL_TIME='0854', ARRIVAL_DELAY='-10', DIVERTED='0', CANCELLED='0', CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None),
 Row(YEAR='2015', MONTH='1', DAY='1', DAY_OF_WEEK='4', AIRLINE='DL', FLIGHT_NUMBER='1961', TAIL_NUMBER='N947DN', ORIGIN_AIRPORT='RIC', DESTINATION_AIRPORT='ATL', SCHEDULED_DEPARTURE='0600', DEPARTURE_TIME='0554', DEPARTURE_DELAY='-6', TAXI_OUT='12', WHEELS_OFF='0606', SCHEDULED_TIME='113', ELAPSED_TIME='91', AIR_TIME='75', DISTANCE='481', WHEELS_ON='0721', TAXI_IN='4', SCHEDULED_ARRIVAL='0753', ARRIVAL_TIME='0725', ARRIVAL_DELAY='-28', DIVERTED='0', CANCELLED='0', CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None),
 Row(YEAR='2015', MONTH='1', DAY='1', DAY_OF_WEEK='4', AIRLINE='DL', FLIGHT_NUMBER='2154', TAIL_NUMBER='N813DN', ORIGIN_AIRPORT='LAX', DESTINATION_AIRPORT='ATL', SCHEDULED_DEPARTURE='0600', DEPARTURE_TIME='0559', DEPARTURE_DELAY='-1', TAXI_OUT='12', WHEELS_OFF='0611', SCHEDULED_TIME='250', ELAPSED_TIME='231', AIR_TIME='213', DISTANCE='1947', WHEELS_ON='1244', TAXI_IN='6', SCHEDULED_ARRIVAL='1310', ARRIVAL_TIME='1250', ARRIVAL_DELAY='-20', DIVERTED='0', CANCELLED='0', CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None),
 Row(YEAR='2015', MONTH='1', DAY='1', DAY_OF_WEEK='4', AIRLINE='DL', FLIGHT_NUMBER='2282', TAIL_NUMBER='N974DL', ORIGIN_AIRPORT='BOS', DESTINATION_AIRPORT='ATL', SCHEDULED_DEPARTURE='0600', DEPARTURE_TIME='0558', DEPARTURE_DELAY='-2', TAXI_OUT='21', WHEELS_OFF='0619', SCHEDULED_TIME='191', ELAPSED_TIME='171', AIR_TIME='144', DISTANCE='946', WHEELS_ON='0843', TAXI_IN='6', SCHEDULED_ARRIVAL='0911', ARRIVAL_TIME='0849', ARRIVAL_DELAY='-22', DIVERTED='0', CANCELLED='0', CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None),
 Row(YEAR='2015', MONTH='1', DAY='1', DAY_OF_WEEK='4', AIRLINE='DL', FLIGHT_NUMBER='2417', TAIL_NUMBER='N554NW', ORIGIN_AIRPORT='LAS', DESTINATION_AIRPORT='DTW', SCHEDULED_DEPARTURE='0600', DEPARTURE_TIME='0559', DEPARTURE_DELAY='-1', TAXI_OUT='19', WHEELS_OFF='0618', SCHEDULED_TIME='233', ELAPSED_TIME='212', AIR_TIME='187', DISTANCE='1749', WHEELS_ON='1225', TAXI_IN='6', SCHEDULED_ARRIVAL='1253', ARRIVAL_TIME='1231', ARRIVAL_DELAY='-22', DIVERTED='0', CANCELLED='0', CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None),

In [ ]:
%%time
rdd_data_sample.flatMap(lambda row: row[4]+row[5]).collect()

CPU times: user 11.3 ms, sys: 911 µs, total: 12.2 ms
Wall time: 109 ms

['A',
 'S',
 '9',
 '8',
 'A',
 'A',
 '2',
 '3',
 '3',
 '6',
 'U',
 'S',
 '8',
 '4',
 '0',
 'A',
 'A',
 '2',
 '5',
 '8',
 'A',
 'S',
 '1',
 '3',
 '5',
 'D',
 'L',
 '8',
 '0',
 '6',
 'N',
 'K',
 '6',
 '1',
 '2',
 'U',
 'S',
 '2',
 '0',
 '1',
 '3',
 'A',
 'A',
 '1',
 '1',
 '1',
 '2',
 'D',
 'L',
 '1',
 '1',
 '7',
 '3',
 'D',
 'L',
 '2',
 '3',
 '3',
 '6',
 'A',
 'A',
 '1',
 '6',
 '7',
 '4',
 'D',
 'L',
 '1',
 '4',
 '3',
 '4',
 'D',
 'L',
 '2',
 '3',
 '2',
 '4',
 'D',
 'L',
 '2',
 '4',
 '4',
 '0',
 'A',
 'S',
 '1',
 '0',
 '8',
 'D',
 'L',
 '1',
 '5',
 '6',
 '0',
 'U',
 'A',
 '1',
 '1',
 '9',
 '7',
 'A',
 'S',
 '1',
 '2',
 '2',
 'D',
 'L',
 '1',
 '6',
 '7',
 '0',
 'N',
 'K',
 '5',
 '2',
 '0',
 'A',
 'A',
 '3',
 '7',
 '1',
 'N',
 'K',
 '2',
 '1',
 '4',
 'A',
 'A',
 '1',
 '1',
 '5',
 'D',
 'L',
 '1',
 '4',
 '5',
 '0',
 'U',
 'A',
 '1',
 '5',
 '4',
 '5',
 'A',
 'S',
 '1',
 '3',
 '0',
 'N',
 'K',
 '5',
 '9',
 '7',
 'U',
 'S',
 '4',
 '1',
 '3',
 'A',
 'A',
 '2',
 '3',
 '9',
 '2',
 'N',
 'K',
 '1',
 '6',
 '8',
 'A',
 'A',
 '2',
 '2',
 '1',
 '1',
 'A',
 'S',
 '1',
 '3',
 '6',
 'D',
 'L',
 '9',
 '5',
 'N',
 'K',
 '2',
 '9',
 '8',
 'H',
 'A',
 '1',
 '7',
 'U',
 'S',
 '6',
 '1',
 '7',
 'U',
 'A',
 '1',
 '5',
 '2',
 '8',
 'A',
 'S',
 '1',
 '3',
 '4',
 'B',
 '6',
 '3',
 '0',
 '4',
 'N',
 'K',
 '4',
 '5',
 '1',
 'N',
 'K',
 '9',
 '7',
 '2',
 'A',
 'A',
 '2',
 '4',
 '5',
 '9',
 'A',
 'S',
 '1',
 '4',
 '4',
 'N',
 'K',
 '6',
 '4',
 '7',
 'B',
 '6',
 '1',
 '9',
 '9',
 '0',
 'U',
 'S',
 '6',
 '9',
 '9',
 'A',
 'S',
 '1',
 '1',
 '4',
 'B',
 '6',
 '6',
 '6',
 '8',
 'U',
 'A',
 '1',
 '1',
 '6',
 '2',
 'B',
 '6',
 '1',
 '0',
 '3',
 '0',
 'B',
 '6',
 '2',
 '6',
 '2',
 'B',
 '6',
 '2',
 '1',
 '3',
 '4',
 'B',
 '6',
 '7',
 '3',
 '0',
 'B',
 '6',
 '7',
 '6',
 '8',
 'B',
 '6',
 '2',
 '2',
 '7',
 '6',
 'U',
 'S',
 '6',
 '0',
 '2',
 'A',
 'S',
 '6',
 '9',
 '5',
 'H',
 'A',
 '1',
 '0',
 '2',
 'O',
 'O',
 '5',
 '4',
 '6',
 '7',
 'H',
 'A',
 '1',
 '0',
 '8',
 'A',
 'S',
 '7',
 '3',
 '0',
 'H',
 'A',
 '2',
 '0',
 '6',
 'U',
 'A',
 '1',
 '5',
 '0',
 '0',
 'A',
 'A',
 '1',
 '3',
 '2',
 '3',
 'N',
 'K',
 '1',
 '0',
 '3',
 'O',
 'O',
 '7',
 '4',
 '0',
 '4',
 'O',
 'O',
 '7',
 '4',
 '1',
 '9',
 'O',
 'O',
 '5',
 '2',
 '5',
 '4',
 'U',
 'S',
 '4',
 '8',
 '0',
 'A',
 'A',
 '1',
 '0',
 '5',
 '7',
 'A',
 'A',
 '2',
 '4',
 '5',
 '4',
 'E',
 'V',
 '4',
 '3',
 '5',
 '4',
 'U',
 'S',
 '4',
 '2',
 '5',
 'A',
 'A',
 '8',
 '9',
 'D',
 'L',
 '2',
 '0',
 '9',
 '9',
 'E',
 'V',
 '4',
 '6',
 '8',
 '5',
 'E',
 'V',
 '5',
 '5',
 '8',
 '3',
 'O',
 'O',
 '5',
 '4',
 '8',
 '4',
 'O',
 'O',
 '7',
 '3',
 '7',
 '0',
 'H',
 'A',
 '1',
 '0',
 '3',
 'E',
 'V',
 '5',
 '1',
 '8',
 '7',
 'M',
 'Q',
 '2',
 '8',
 '5',
 '9',
 'U',
 'A',
 '1',
 '2',
 '0',
 '1',
 'U',
 'A',
 '1',
 '2',
 '2',
 '1',
 'U',
 'A',
 '1',
 '6',
 '0',
 '7',
 'A',
 'A',
 '3',
 '2',
 '8',
 'E',
 'V',
 '5',
 '7',
 '6',
 '4',
 'F',
 '9',
 '1',
 '2',
 '7',
 '9',
 'N',
 'K',
 '4',
 '0',
 '9',
 'O',
 'O',
 '5',
 '4',
 '6',
 '0',
 'O',
 'O',
 '6',
 '3',
 '9',
 '1',
 'U',
 'A',
 '1',
 '5',
 '3',
 '2',
 'U',
 'A',
 '1',
 '1',
 '6',
 '7',
 'U',
 'A',
 '1',
 '0',
 '1',
 '2',
 'B',
 '6',
 '2',
 '0',
 '0',
 '1',
 'B',
 '6',
 '2',
 '8',
 '0',
 '7',
 'B',
 '6',
 '2',
 '0',
 '2',
 '3',
 'E',
 'V',
 '4',
 '5',
 '5',
 '7',
 'E',
 'V',
 '5',
 '2',
 '4',
 '1',
 'E',
 'V',
 '5',
 '4',
 '9',
 '8',
 'O',
 'O',
 '6',
 '5',
 '1',
 '2',
 'U',
 'A',
 '1',
 '5',
 '7',
 '7',
 'O',
 'O',
 '4',
 '9',
 '8',
 '6',
 'B',
 '6',
 '7',
 '2',
 '7',
 'B',
 '6',
 '1',
 '0',
 '1',
 '2',
 'D',
 'L',
 '8',
 '2',
 '4',
 'D',
 'L',
 '9',
 '4',
 '1',
 'D',
 'L',
 '2',
 '0',
 '7',
 '9',
 'E',
 'V',
 '3',
 '2',
 '6',
 '8',
 'E',
 'V',
 '4',
 '1',
 '6',
 '0',
 'O',
 'O',
 '6',
 '2',
 '8',
 '5',
 'O',
 'O',
 '5',
 '1',
 '8',
 '4',
 'O',
 'O',
 '6',
 '3',
 '5',
 '8',
 'F',
 '9',
 '1',
 '6',
 '1',
 'O',
 'O',
 '4',
 '8',
 '3',
 '3',
 'U',
 'A',
 '1',
 '1',
 '1',
 '9',
 'U',
 'A',
 '1',
 '2',
 '3',
 '7',
 'U',
 'A',
 '1',
 '5',
 '4',
 '0',
 'A',
 'A',
 '1',
 '4',
 '3',
 '3',
 'A',
 'A',
 '2',
 '2',
 '9',
 '9',
 'B',
 '6',
 '7',
 '2',
 '1',
 'B',
 '6',
 '9',
 '1',
 '7',
 'B',
 '6',
 '9',
 '3',
 '9',
 'D',
 'L',
 '1',
 '8',
 '9',
 '0',
 'E',
 'V',
 '4',
 '6',
 '4',
 '6',
 'F',
 '9',
 '3',
 '6',
 '5',
 'F',
 '9',
 '1',
 '1',
 '7',
 'M',
 'Q',
 '2',
 '9',
 '2',
 '6',
 'O',
 'O',
 '2',
 '5',
 '9',
 '9',
 'O',
 'O',
 '5',
 '4',
 '8',
 '2',
 'O',
 'O',
 '6',
 '4',
 '5',
 '7',
 'H',
 'A',
 '2',
 '1',
 '8',
 'B',
 '6',
 '5',
 '1',
 '5',
 'U',
 'A',
 '2',
 '2',
 '8',
 'U',
 'S',
 '6',
 '4',
 '1',
 'U',
 'A',
 '4',
 '9',
 '5',
 'U',
 'A',
 '5',
 '0',
 '7',
 'U',
 'A',
 '1',
 '5',
 '5',
 '3',
 'U',
 'S',
 '4',
 '0',
 '3',
 'U',
 'S',
 '4',
 '4',
 '6',
 'A',
 'A',
 '1',
 '1',
 '7',
 '8',
 'A',
 'A',
 '2',
 '4',
 '1',
 '0',
 'D',
 'L',
 '2',
 '4',
 '5',
 '3',
 'B',
 '6',
 '2',
 '2',
 '2',
 '8',
 'E',
 'V',
 '4',
 '5',
 '5',
 '5',
 'E',
 'V',
 '5',
 '6',
 '9',
 '8',
 'M',
 'Q',
 '3',
 '5',
 '3',
 '4',
 'E',
 'V',
 '4',
 '3',
 '3',
 '9',
 'O',
 'O',
 '6',
 '2',
 '0',
 '4',
 'O',
 'O',
 '6',
 '2',
 '6',
 '1',
 'O',
 'O',
 '5',
 '1',
 '6',
 '0',
 'O',
 'O',
 '6',
 '2',
 '2',
 '4',
 'B',
 '6',
 '8',
 '6',
 '0',
 'E',
 'V',
 '5',
 '2',
 '3',
 '0',
 'W',
 'N',
 '5',
 '2',
 '6',
 'U',
 'A',
 '1',
 '2',
 '2',
 '2',
 'U',
 'A',
 '1',
 '5',
 '0',
 '7',
 'A',
 'A',
 '1',
 '0',
 '9',
 '4',
 'A',
 'A',
 '1',
 '2',
 '3',
 '3',
 'B',
 '6',
 '1',
 '1',
 '5',
 'B',
 '6',
 '1',
 '8',
 '5',
 'E',
 'V',
 '2',
 '5',
 '1',
 '9',
 'E',
 'V',
 '3',
 '9',
 '2',
 '8',
 'E',
 'V',
 '3',
 '9',
 '4',
 '1',
 'E',
 'V',
 '5',
 '9',
 '7',
 '6',
 'M',
 'Q',
 '3',
 '1',
 '6',
 '1',
 'E',
 'V',
 '5',
 '6',
 '7',
 '7',
 'N',
 'K',
 '2',
 '2',
 '4',
 'U',
 'A',
 '1',
 '4',
 '5',
 '7',
 'A',
 'A',
 '1',
 '2',
 '0',
 '5',
 'O',
 'O',
 '5',
 '5',
 '4',
 '7',
 'U',
 'A',
 '2',
 '1',
 '0',
 'U',
 'A',
 '2',
 '1',
 '4',
 'U',
 'A',
 '2',
 '4',
 '7',
 'U',
 'A',
 '2',
 '5',
 '6',
 'U',
 'A',
 '3',
 '1',
 '9',
 'U',
 'A',
 '3',
 '7',
 '4',
 'U',
 'S',
 '6',
 '3',
 '5',
 'U',
 'S',
 '6',
 '4',
 '6',
 ...]

In [ ]:
%%time
rdd_data_sample.map(lambda row: row[4])\
  .distinct()\
  .collect()

CPU times: user 28.6 ms, sys: 2.06 ms, total: 30.6 ms
Wall time: 636 ms

['AS',
 'AA',
 'US',
 'DL',
 'NK',
 'UA',
 'HA',
 'B6',
 'OO',
 'EV',
 'MQ',
 'F9',
 'WN',
 'VX']

In [ ]:
%%time
rdd_data_sample.sample(False,0.01).collect()

CPU times: user 9.1 ms, sys: 0 ns, total: 9.1 ms
Wall time: 62.6 ms

[Row(YEAR='2015', MONTH='1', DAY='1', DAY_OF_WEEK='4', AIRLINE='OO', FLIGHT_NUMBER='6224', TAIL_NUMBER='N956SW', ORIGIN_AIRPORT='RDM', DESTINATION_AIRPORT='DEN', SCHEDULED_DEPARTURE='0550', DEPARTURE_TIME='0549', DEPARTURE_DELAY='-1', TAXI_OUT='12', WHEELS_OFF='0601', SCHEDULED_TIME='143', ELAPSED_TIME='150', AIR_TIME='130', DISTANCE='898', WHEELS_ON='0911', TAXI_IN='8', SCHEDULED_ARRIVAL='0913', ARRIVAL_TIME='0919', ARRIVAL_DELAY='6', DIVERTED='0', CANCELLED='0', CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None),
 Row(YEAR='2015', MONTH='1', DAY='1', DAY_OF_WEEK='4', AIRLINE='B6', FLIGHT_NUMBER='371', TAIL_NUMBER='N708JB', ORIGIN_AIRPORT='LGA', DESTINATION_AIRPORT='FLL', SCHEDULED_DEPARTURE='0600', DEPARTURE_TIME='0600', DEPARTURE_DELAY='0', TAXI_OUT='22', WHEELS_OFF='0622', SCHEDULED_TIME='183', ELAPSED_TIME='177', AIR_TIME='150', DISTANCE='1076', WHEELS_ON='0852', TAXI_IN='5', SCHEDULED_ARRIVAL='0903', ARRIVAL_TIME='0857', ARRIVAL_DELAY='-6', DIVERTED='0', CANCELLED='0', CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None),
 Row(YEAR='2015', MONTH='1', DAY='1', DAY_OF_WEEK='4', AIRLINE='B6', FLIGHT_NUMBER='23', TAIL_NUMBER='N937JB', ORIGIN_AIRPORT='JFK', DESTINATION_AIRPORT='LAX', SCHEDULED_DEPARTURE='0630', DEPARTURE_TIME='0627', DEPARTURE_DELAY='-3', TAXI_OUT='16', WHEELS_OFF='0643', SCHEDULED_TIME='377', ELAPSED_TIME='384', AIR_TIME='358', DISTANCE='2475', WHEELS_ON='0941', TAXI_IN='10', SCHEDULED_ARRIVAL='0947', ARRIVAL_TIME='0951', ARRIVAL_DELAY='4', DIVERTED='0', CANCELLED='0', CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None),
 Row(YEAR='2015', MONTH='1', DAY='1', DAY_OF_WEEK='4', AIRLINE='B6', FLIGHT_NUMBER='475', TAIL_NUMBER='N599JB', ORIGIN_AIRPORT='PVD', DESTINATION_AIRPORT='MCO', SCHEDULED_DEPARTURE='0635', DEPARTURE_TIME='0629', DEPARTURE_DELAY='-6', TAXI_OUT='37', WHEELS_OFF='0706', SCHEDULED_TIME='190', ELAPSED_TIME='204', AIR_TIME='155', DISTANCE='1072', WHEELS_ON='0941', TAXI_IN='12', SCHEDULED_ARRIVAL='0945', ARRIVAL_TIME='0953', ARRIVAL_DELAY='8', DIVERTED='0', CANCELLED='0', CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None),
 Row(YEAR='2015', MONTH='1', DAY='1', DAY_OF_WEEK='4', AIRLINE='UA', FLIGHT_NUMBER='259', TAIL_NUMBER='N427UA', ORIGIN_AIRPORT='SNA', DESTINATION_AIRPORT='IAH', SCHEDULED_DEPARTURE='0645', DEPARTURE_TIME='0653', DEPARTURE_DELAY='8', TAXI_OUT='16', WHEELS_OFF='0709', SCHEDULED_TIME='200', ELAPSED_TIME='177', AIR_TIME='156', DISTANCE='1346', WHEELS_ON='1145', TAXI_IN='5', SCHEDULED_ARRIVAL='1205', ARRIVAL_TIME='1150', ARRIVAL_DELAY='-15', DIVERTED='0', CANCELLED='0', CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None),
 Row(YEAR='2015', MONTH='1', DAY='1', DAY_OF_WEEK='4', AIRLINE='US', FLIGHT_NUMBER='408', TAIL_NUMBER='N521UW', ORIGIN_AIRPORT='PHL', DESTINATION_AIRPORT='PHX', SCHEDULED_DEPARTURE='0650', DEPARTURE_TIME='0640', DEPARTURE_DELAY='-10', TAXI_OUT='19', WHEELS_OFF='0659', SCHEDULED_TIME='325', ELAPSED_TIME='351', AIR_TIME='327', DISTANCE='2075', WHEELS_ON='1026', TAXI_IN='5', SCHEDULED_ARRIVAL='1015', ARRIVAL_TIME='1031', ARRIVAL_DELAY='16', DIVERTED='0', CANCELLED='0', CANCELLATION_REASON=None, AIR_SYSTEM_DELAY='16', SECURITY_DELAY='0', AIRLINE_DELAY='0', LATE_AIRCRAFT_DELAY='0', WEATHER_DELAY='0'),
 Row(YEAR='2015', MONTH='1', DAY='1', DAY_OF_WEEK='4', AIRLINE='AA', FLIGHT_NUMBER='338', TAIL_NUMBER='N3DJAA', ORIGIN_AIRPORT='LAX', DESTINATION_AIRPORT='SFO', SCHEDULED_DEPARTURE='0650', DEPARTURE_TIME='0644', DEPARTURE_DELAY='-6', TAXI_OUT='21', WHEELS_OFF='0705', SCHEDULED_TIME='80', ELAPSED_TIME='79', AIR_TIME='55', DISTANCE='337', WHEELS_ON='0800', TAXI_IN='3', SCHEDULED_ARRIVAL='0810', ARRIVAL_TIME='0803', ARRIVAL_DELAY='-7', DIVERTED='0', CANCELLED='0', CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None),
 Row(YEAR='2015', MONTH='1', DAY='1', DAY_OF_WEEK='4', AIRLINE='AA', FLIGHT_NUMBER='1513', TAIL_NUMBER='N008AA', ORIGIN_AIRPORT='DFW', DESTINATION_AIRPORT='ATL', SCHEDULED_DEPARTURE='0700', DEPARTURE_TIME='0655', DEPARTURE_DELAY='-5', TAXI_OUT='11', WHEELS_OFF='0706', SCHEDULED_TIME='125', ELAPSED_TIME='105', AIR_TIME='89', DISTANCE='731', WHEELS_ON='0935', TAXI_IN='5', SCHEDULED_ARRIVAL='1005', ARRIVAL_TIME='0940', ARRIVAL_DELAY='-25', DIVERTED='0', CANCELLED='0', CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None)]

* .leftOuterJoin
* .intersection
* .repartition

Akcje RDD

* .take
* .takeSample
* .collect
* .reduce
* .count
* .saveAsTextFile
* .foreach

## Przygotowanie Dataframe z pełnym schematem danych

Poprzednio poszliśmy na skróty przypisując każdej ze zmiennych typ ciągu znaków. Tym razem zróbmy to porządnie

In [ ]:
import pandas as pd
pd.set_option('display.max_columns', None)
df.limit(5).toPandas()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,0005,2354,-11,21,0015,205,194,169,1448,0404,4,0430,0408,-22,0,0,None,None,None,None,None,None
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,0010,0002,-8,12,0014,280,279,263,2330,0737,4,0750,0741,-9,0,0,None,None,None,None,None,None
2,2015,1,1,4,US,840,N171US,SFO,CLT,0020,0018,-2,16,0034,286,293,266,2296,0800,11,0806,0811,5,0,0,None,None,None,None,None,None
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,0020,0015,-5,15,0030,285,281,258,2342,0748,8,0805,0756,-9,0,0,None,None,None,None,None,None
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,0025,0024,-1,11,0035,235,215,199,1448,0254,5,0320,0259,-21,0,0,None,None,None,None,None,None

In [ ]:
from pyspark.sql.types import StructType, StringType, IntegerType, BooleanType, FloatType, TimestampType, DateType, ArrayType, MapType
from typing import List, Tuple, Dict, Any
map_python_types_2_spark_types = {
    str : StringType(),
    int : IntegerType(),
    bool : BooleanType(),
    float: FloatType(),
    'timestamp' : TimestampType(),
    'date' : DateType(),
    List[str] : ArrayType(StringType()),
    Tuple[str] : ArrayType(StringType()),
    Dict[str, str] : MapType(StringType(), StringType())
}

column_type_collection = {
    int : ['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'DEPARTURE_DELAY', 'TAXI_OUT', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'TAXI_IN', 'ARRIVAL_DELAY', 'DIVERTED', 'CANCELLED' ],
    str : ['AIRLINE', 'FLIGHT_NUMBER', 'TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'WHEELS_OFF', 'WHEELS_ON', 
      'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME', 'CANCELLATION_REASON', 'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY'
    ]
}

map_column_names_2_types = {}

for pole in pola:
  for python_type, column_list in column_type_collection.items():
    if pole in column_list:
      map_column_names_2_types[pole] = map_python_types_2_spark_types[python_type]

print(map_column_names_2_types)

{'YEAR': IntegerType, 'MONTH': IntegerType, 'DAY': IntegerType, 'DAY_OF_WEEK': IntegerType, 'AIRLINE': StringType, 'FLIGHT_NUMBER': StringType, 'TAIL_NUMBER': StringType, 'ORIGIN_AIRPORT': StringType, 'DESTINATION_AIRPORT': StringType, 'SCHEDULED_DEPARTURE': StringType, 'DEPARTURE_TIME': StringType, 'DEPARTURE_DELAY': IntegerType, 'TAXI_OUT': IntegerType, 'WHEELS_OFF': StringType, 'SCHEDULED_TIME': IntegerType, 'ELAPSED_TIME': IntegerType, 'AIR_TIME': IntegerType, 'DISTANCE': IntegerType, 'WHEELS_ON': StringType, 'TAXI_IN': IntegerType, 'SCHEDULED_ARRIVAL': StringType, 'ARRIVAL_TIME': StringType, 'ARRIVAL_DELAY': IntegerType, 'DIVERTED': IntegerType, 'CANCELLED': IntegerType, 'CANCELLATION_REASON': StringType, 'AIR_SYSTEM_DELAY': StringType, 'SECURITY_DELAY': StringType, 'AIRLINE_DELAY': StringType, 'LATE_AIRCRAFT_DELAY': StringType, 'WEATHER_DELAY': StringType}

In [ ]:
schemat = StructType()
for pole, typ in map_column_names_2_types.items():
    schemat = schemat.add(pole, typ, True)

In [ ]:
flights = spark.read.format('csv').option("header", False).schema(schemat).load('/content/drive/MyDrive/flights.csv')
flights.show(5)

+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+
|YEAR|MONTH|DAY|DAY_OF_WEEK|AIRLINE|FLIGHT_NUMBER|TAIL_NUMBER|ORIGIN_AIRPORT|DESTINATION_AIRPORT|SCHEDULED_DEPARTURE|DEPARTURE_TIME|DEPARTURE_DELAY|TAXI_OUT|WHEELS_OFF|SCHEDULED_TIME|ELAPSED_TIME|AIR_TIME|DISTANCE|WHEELS_ON|TAXI_IN|SCHEDULED_ARRIVAL|ARRIVAL_TIME|ARRIVAL_DELAY|DIVERTED|CANCELLED|CANCELLATION_REASON|AIR_SYSTEM_DELAY|SECURITY_DELAY|AIRLINE_DELAY|LATE_AIRCRAFT_DELAY|WEATHER_DELAY|
+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+
|2015|    1|  1|          4|     AS|           98|     N407AS|           ANC|                SEA|               0005|          2354|            -11|      21|      0015|           205|         194|     169|    1448|     0404|      4|             0430|        0408|          -22|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     AA|         2336|     N3KUAA|           LAX|                PBI|               0010|          0002|             -8|      12|      0014|           280|         279|     263|    2330|     0737|      4|             0750|        0741|           -9|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     US|          840|     N171US|           SFO|                CLT|               0020|          0018|             -2|      16|      0034|           286|         293|     266|    2296|     0800|     11|             0806|        0811|            5|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     AA|          258|     N3HYAA|           LAX|                MIA|               0020|          0015|             -5|      15|      0030|           285|         281|     258|    2342|     0748|      8|             0805|        0756|           -9|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     AS|          135|     N527AS|           SEA|                ANC|               0025|          0024|             -1|      11|      0035|           235|         215|     199|    1448|     0254|      5|             0320|        0259|          -21|       0|        0|               null|            null|          null|         null|               null|         null|
+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+
only showing top 5 rows

In [ ]:
flights.printSchema()

root
 |-- YEAR: integer (nullable = true)
 |-- MONTH: integer (nullable = true)
 |-- DAY: integer (nullable = true)
 |-- DAY_OF_WEEK: integer (nullable = true)
 |-- AIRLINE: string (nullable = true)
 |-- FLIGHT_NUMBER: string (nullable = true)
 |-- TAIL_NUMBER: string (nullable = true)
 |-- ORIGIN_AIRPORT: string (nullable = true)
 |-- DESTINATION_AIRPORT: string (nullable = true)
 |-- SCHEDULED_DEPARTURE: string (nullable = true)
 |-- DEPARTURE_TIME: string (nullable = true)
 |-- DEPARTURE_DELAY: integer (nullable = true)
 |-- TAXI_OUT: integer (nullable = true)
 |-- WHEELS_OFF: string (nullable = true)
 |-- SCHEDULED_TIME: integer (nullable = true)
 |-- ELAPSED_TIME: integer (nullable = true)
 |-- AIR_TIME: integer (nullable = true)
 |-- DISTANCE: integer (nullable = true)
 |-- WHEELS_ON: string (nullable = true)
 |-- TAXI_IN: integer (nullable = true)
 |-- SCHEDULED_ARRIVAL: string (nullable = true)
 |-- ARRIVAL_TIME: string (nullable = true)
 |-- ARRIVAL_DELAY: integer (nullable = true)
 |-- DIVERTED: integer (nullable = true)
 |-- CANCELLED: integer (nullable = true)
 |-- CANCELLATION_REASON: string (nullable = true)
 |-- AIR_SYSTEM_DELAY: string (nullable = true)
 |-- SECURITY_DELAY: string (nullable = true)
 |-- AIRLINE_DELAY: string (nullable = true)
 |-- LATE_AIRCRAFT_DELAY: string (nullable = true)
 |-- WEATHER_DELAY: string (nullable = true)

In [ ]:
flights.select(flights.DAY).distinct().show()

+---+
|DAY|
+---+
| 31|
| 28|
| 26|
| 27|
| 12|
| 22|
|  1|
| 13|
|  6|
| 16|
|  3|
| 20|
|  5|
| 19|
| 15|
|  9|
| 17|
|  4|
|  8|
| 23|
+---+
only showing top 20 rows

Wykonajmy jeszcze proste statystyki ze zbioru by zobaczyć poprawność jego wczytania

In [ ]:
%%time
flights.count()

CPU times: user 33.9 ms, sys: 1.76 ms, total: 35.7 ms
Wall time: 4.11 s

5819079

In [ ]:
%%time
for pole in ['YEAR', 'MONTH', 'DAY', 'AIRLINE', 'TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT', 'DIVERTED', 'CANCELLED']:
  print(f'Pole {pole}\n')
  print(flights.select(pole).distinct().sort(pole).toPandas())

Pole YEAR

   YEAR
0  2015
Pole MONTH

    MONTH
0       1
1       2
2       3
3       4
4       5
5       6
6       7
7       8
8       9
9      10
10     11
11     12
Pole DAY

    DAY
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
10   11
11   12
12   13
13   14
14   15
15   16
16   17
17   18
18   19
19   20
20   21
21   22
22   23
23   24
24   25
25   26
26   27
27   28
28   29
29   30
30   31
Pole AIRLINE

   AIRLINE
0       AA
1       AS
2       B6
3       DL
4       EV
5       F9
6       HA
7       MQ
8       NK
9       OO
10      UA
11      US
12      VX
13      WN
Pole TAIL_NUMBER

     TAIL_NUMBER
0           None
1          7819A
2          7820L
3         D942DN
4         N001AA
...          ...
4893      N997DL
4894      N998AT
4895      N998DL
4896      N999DN
4897      N9EAMQ

[4898 rows x 1 columns]
Pole ORIGIN_AIRPORT

    ORIGIN_AIRPORT
0            10135
1            10136
2            10140
3            10141
4            10146
..             ...
623            WRG
624            WYS
625            XNA
626            YAK
627            YUM

[628 rows x 1 columns]
Pole DESTINATION_AIRPORT

    DESTINATION_AIRPORT
0                 10135
1                 10136
2                 10140
3                 10141
4                 10146
..                  ...
624                 WRG
625                 WYS
626                 XNA
627                 YAK
628                 YUM

[629 rows x 1 columns]
Pole DIVERTED

   DIVERTED
0         0
1         1
Pole CANCELLED

   CANCELLED
0          0
1          1
CPU times: user 1.11 s, sys: 113 ms, total: 1.22 s
Wall time: 2min 16s

In [ ]:
flights.createOrReplaceTempView("flights")

## Ćwiczenia 

Zadanie w ćwiczeniu polegać będą na stworzeniu konwersji zapytania Spark-SQL na składnię pyspark

In [ ]:
spark.sql('select count(*) from flights where cancelled = 1').toPandas()

   count(1)
0     89884

In [ ]:
spark.sql('select count(*) from flights where diverted = 1').toPandas()

   count(1)
0     15187

In [ ]:
spark.sql('select count(*) from flights where cancelled = 1 and diverted = 1').toPandas()

   count(1)
0         0

In [ ]:
spark.sql('select avg(distance) from flights').toPandas()

   avg(distance)
0     822.356495

In [ ]:
spark.sql('select min(DEPARTURE_DELAY), max(DEPARTURE_DELAY) from flights').toPandas()

   min(DEPARTURE_DELAY)  max(DEPARTURE_DELAY)
0                   -82                  1988

In [ ]:
spark.sql('select min(ARRIVAL_DELAY), max(ARRIVAL_DELAY) from flights').toPandas()

   min(ARRIVAL_DELAY)  max(ARRIVAL_DELAY)
0                 -87                1971

## Mieszanie składni SparkSQL i pyspark oraz praca z wieloma zbiorami danych

Zagadnienie związane z tym która ze składni jest bardziej odpowiednia to dyskusja która nie jako toczy się od początku istnienia jej dualizmu w pyspark.
Należy mieć na uwadze, że niezależnie od tego na który ze sposobów wyrazimy swoją kwerendę - spark i tak przetłumaczy ją na ciąg operacji na RDD i odpowiednio skolejkuje. Oznacza, że w każdej niemal sytuacji zadanie kwerendy poprzez formułę SQL oraz pysparka oznacza wykonanie tych samych operacji. Pozostawia to miejsce na używanie tej składni według preferencji użytkownika. Ale jednak każda z tych składni wnosi pewien narzut.

Za składnią SQL przemawiają następujące argumenty:

* Jest prostsza i często dużo łatwiej jest napisać kwerendę,
* Zyskujemy na czasie pisania kwerendy.

Za składnią pysparka natomiast:

* zapisywanie kwerend w postaci funkcji pysparka pozwala lepiej zrozumieć kolejność operacji i dbałość o zmniejszanie obciążenia,
* mamy możliwość reagowania na różnych etapach działania. Możemy tworzyć naszą kwerendę etapami i obserwować jej rozwój.
* jeśli mamy wiele różnych zaawansowanych kwerend o wspólnej bazie to szybciej napiszemy je w pyspark
* pyspark pozwala nam dużo wygodniej zarządzać tworzeniem kolumn

## Praca z tworzeniem kolumn w pyspark

Załóżmy, że dla naszych danych chcemy teraz utworzyć kolumną z wyliczonym na podstawie czasu przylotu i odlotu czasem. Pamiętamy, że część kolumn nie udała się zrzutować w czasie ładowania. Mamy zatem w bazie ciągi znaków jak 0815 odpowiadające godzinie 8:15, oraz inne które odpowiadają datom w sposób zrzutowany

In [ ]:
time_flights = df.select('year', 'month', 'day', 'airline', 'flight_number', 'tail_number', 'scheduled_departure', 'scheduled_time', 'scheduled_arrival')
time_flights.limit(5).toPandas()

,year,month,day,airline,flight_number,tail_number,scheduled_departure,scheduled_time,scheduled_arrival
0,2015,1,1,AS,98,N407AS,0005,205,0430
1,2015,1,1,AA,2336,N3KUAA,0010,280,0750
2,2015,1,1,US,840,N171US,0020,286,0806
3,2015,1,1,AA,258,N3HYAA,0020,285,0805
4,2015,1,1,AS,135,N527AS,0025,235,0320

In [ ]:
from pyspark.sql.functions import substring, col, expr
time_flights2 = time_flights.withColumn('scheduled_departure_in_hours_str', substring('scheduled_departure',1,2))
time_flights2 = time_flights2.withColumn('scheduled_departure_in_hours', col('scheduled_departure_in_hours_str').cast('integer'))
time_flights2 = time_flights2.withColumn('scheduled_departure_in_minutes_str', substring('scheduled_departure',3,4))
time_flights2 = time_flights2.withColumn('scheduled_departure_in_minutes', col('scheduled_departure_in_minutes_str').cast('integer'))
time_flights2 = time_flights2.withColumn('scheduled_departure_in_minutes_from_midnight',expr('scheduled_departure_in_hours*60 + scheduled_departure_in_minutes '))
time_flights2 = time_flights2.drop(
    'scheduled_departure_in_hours_str','scheduled_departure_in_minutes_str', 'scheduled_departure_in_minutes','scheduled_departure_in_hours')
time_flights2.limit(60).toPandas()

,year,month,day,airline,flight_number,tail_number,scheduled_departure,scheduled_time,scheduled_arrival,scheduled_departure_in_minutes_from_midnight
0,2015,1,1,AS,98,N407AS,0005,205,0430,5
1,2015,1,1,AA,2336,N3KUAA,0010,280,0750,10
2,2015,1,1,US,840,N171US,0020,286,0806,20
3,2015,1,1,AA,258,N3HYAA,0020,285,0805,20
4,2015,1,1,AS,135,N527AS,0025,235,0320,25
5,2015,1,1,DL,806,N3730B,0025,217,0602,25
6,2015,1,1,NK,612,N635NK,0025,181,0526,25
7,2015,1,1,US,2013,N584UW,0030,273,0803,30
8,2015,1,1,AA,1112,N3LAAA,0030,195,0545,30
9,2015,1,1,DL,1173,N826DN,0030,221,0711,30
10,2015,1,1,DL,2336,N958DN,0030,173,0523,30
11,2015,1,1,AA,1674,N853AA,0035,268,0803,35
12,2015,1,1,DL,1434,N547US,0035,214,0609,35
13,2015,1,1,DL,2324,N3751B,0040,215,0615,40
14,2015,1,1,DL,2440,N651DL,0040,189,0549,40
15,2015,1,1,AS,108,N309AS,0045,204,0509,45
16,2015,1,1,DL,1560,N3743H,0045,210,0515,45
17,2015,1,1,UA,1197,N78448,0048,218,0626,48
18,2015,1,1,AS,122,N413AS,0050,215,0525,50
19,2015,1,1,DL,1670,N806DN,0050,193,0603,50
20,2015,1,1,NK,520,N525NK,0055,162,0537,55
21,2015,1,1,AA,371,N3GXAA,0100,338,0938,60
22,2015,1,1,NK,214,N632NK,0103,147,0530,63
23,2015,1,1,AA,115,N3CTAA,0105,286,0851,65
24,2015,1,1,DL,1450,N671DN,0105,183,0608,65
25,2015,1,1,UA,1545,N76517,0115,183,0618,75
26,2015,1,1,AS,130,N457AS,0115,213,0548,75
27,2015,1,1,NK,597,N528NK,0115,207,0542,75
28,2015,1,1,US,413,N571UW,0120,245,0825,80
29,2015,1,1,AA,2392,N3HRAA,0120,227,0707,80
30,2015,1,1,NK,168,N629NK,0125,204,0549,85
31,2015,1,1,AA,2211,N3CGAA,0127,239,0726,87
32,2015,1,1,AS,136,N431AS,0135,205,0600,95
33,2015,1,1,DL,95,N320US,0140,215,0715,100
34,2015,1,1,NK,298,N514NK,0144,170,0634,104
35,2015,1,1,HA,17,N389HA,0145,370,0555,105
36,2015,1,1,US,617,N804AW,0152,323,0915,112
37,2015,1,1,UA,1528,N76519,0154,255,0509,114
38,2015,1,1,AS,134,N464AS,0155,218,0633,115
39,2015,1,1,B6,304,N607JB,0155,235,0450,115
40,2015,1,1,NK,451,N633NK,0155,208,0523,115
41,2015,1,1,NK,972,N606NK,0159,123,0502,119
42,2015,1,1,AA,2459,N3BDAA,0200,120,0500,120
43,2015,1,1,AS,144,N514AS,0200,210,0630,120
44,2015,1,1,NK,647,N630NK,0200,184,0504,120
45,2015,1,1,B6,1990,N597JB,0206,246,0512,126
46,2015,1,1,US,699,N172US,0220,224,0804,140
47,2015,1,1,AS,114,N303AS,0220,200,0640,140
48,2015,1,1,B6,668,N653JB,0255,185,0500,175
49,2015,1,1,UA,1162,N37293,0259,240,0559,179
50,2015,1,1,B6,1030,N239JB,0307,173,0500,187
51,2015,1,1,B6,262,N627JB,0330,245,0635,210
52,2015,1,1,B6,2134,N307JB,0400,185,0605,240
53,2015,1,1,B6,730,N621JB,0419,174,0613,259
54,2015,1,1,B6,768,N317JB,0424,186,0630,264
55,2015,1,1,B6,2276,N646JB,0438,241,0739,278
56,2015,1,1,US,602,N197UW,0500,228,0748,300
57,2015,1,1,AS,695,N607AS,0500,70,0610,300
58,2015,1,1,HA,102,N492HA,0500,49,0549,300
59,2015,1,1,OO,5467,N701BR,0500,89,0629,300

In [ ]:
time_flights3 = time_flights2.withColumn('scheduled_arrival_in_hours_str', substring('scheduled_arrival',1,2))
time_flights3 = time_flights3.withColumn('scheduled_arrival_in_hours', col('scheduled_arrival_in_hours_str').cast('integer'))
time_flights3 = time_flights3.withColumn('scheduled_arrival_in_minutes_str', substring('scheduled_arrival',3,4))
time_flights3 = time_flights3.withColumn('scheduled_arrival_in_minutes', col('scheduled_arrival_in_minutes_str').cast('integer'))
time_flights3 = time_flights3.withColumn('scheduled_arrival_in_minutes_from_midnight',expr('scheduled_arrival_in_hours*60 + scheduled_arrival_in_minutes '))
time_flights3 = time_flights3.drop(
    'scheduled_arrival_in_hours_str','scheduled_arrival_in_minutes_str', 'scheduled_arrival_in_minutes','scheduled_arrival_in_hours')
time_flights3.limit(60).toPandas()

,year,month,day,airline,flight_number,tail_number,scheduled_departure,scheduled_time,scheduled_arrival,scheduled_departure_in_minutes_from_midnight,scheduled_arrival_in_minutes_from_midnight
0,2015,1,1,AS,98,N407AS,0005,205,0430,5,270
1,2015,1,1,AA,2336,N3KUAA,0010,280,0750,10,470
2,2015,1,1,US,840,N171US,0020,286,0806,20,486
3,2015,1,1,AA,258,N3HYAA,0020,285,0805,20,485
4,2015,1,1,AS,135,N527AS,0025,235,0320,25,200
5,2015,1,1,DL,806,N3730B,0025,217,0602,25,362
6,2015,1,1,NK,612,N635NK,0025,181,0526,25,326
7,2015,1,1,US,2013,N584UW,0030,273,0803,30,483
8,2015,1,1,AA,1112,N3LAAA,0030,195,0545,30,345
9,2015,1,1,DL,1173,N826DN,0030,221,0711,30,431
10,2015,1,1,DL,2336,N958DN,0030,173,0523,30,323
11,2015,1,1,AA,1674,N853AA,0035,268,0803,35,483
12,2015,1,1,DL,1434,N547US,0035,214,0609,35,369
13,2015,1,1,DL,2324,N3751B,0040,215,0615,40,375
14,2015,1,1,DL,2440,N651DL,0040,189,0549,40,349
15,2015,1,1,AS,108,N309AS,0045,204,0509,45,309
16,2015,1,1,DL,1560,N3743H,0045,210,0515,45,315
17,2015,1,1,UA,1197,N78448,0048,218,0626,48,386
18,2015,1,1,AS,122,N413AS,0050,215,0525,50,325
19,2015,1,1,DL,1670,N806DN,0050,193,0603,50,363
20,2015,1,1,NK,520,N525NK,0055,162,0537,55,337
21,2015,1,1,AA,371,N3GXAA,0100,338,0938,60,578
22,2015,1,1,NK,214,N632NK,0103,147,0530,63,330
23,2015,1,1,AA,115,N3CTAA,0105,286,0851,65,531
24,2015,1,1,DL,1450,N671DN,0105,183,0608,65,368
25,2015,1,1,UA,1545,N76517,0115,183,0618,75,378
26,2015,1,1,AS,130,N457AS,0115,213,0548,75,348
27,2015,1,1,NK,597,N528NK,0115,207,0542,75,342
28,2015,1,1,US,413,N571UW,0120,245,0825,80,505
29,2015,1,1,AA,2392,N3HRAA,0120,227,0707,80,427
30,2015,1,1,NK,168,N629NK,0125,204,0549,85,349
31,2015,1,1,AA,2211,N3CGAA,0127,239,0726,87,446
32,2015,1,1,AS,136,N431AS,0135,205,0600,95,360
33,2015,1,1,DL,95,N320US,0140,215,0715,100,435
34,2015,1,1,NK,298,N514NK,0144,170,0634,104,394
35,2015,1,1,HA,17,N389HA,0145,370,0555,105,355
36,2015,1,1,US,617,N804AW,0152,323,0915,112,555
37,2015,1,1,UA,1528,N76519,0154,255,0509,114,309
38,2015,1,1,AS,134,N464AS,0155,218,0633,115,393
39,2015,1,1,B6,304,N607JB,0155,235,0450,115,290
40,2015,1,1,NK,451,N633NK,0155,208,0523,115,323
41,2015,1,1,NK,972,N606NK,0159,123,0502,119,302
42,2015,1,1,AA,2459,N3BDAA,0200,120,0500,120,300
43,2015,1,1,AS,144,N514AS,0200,210,0630,120,390
44,2015,1,1,NK,647,N630NK,0200,184,0504,120,304
45,2015,1,1,B6,1990,N597JB,0206,246,0512,126,312
46,2015,1,1,US,699,N172US,0220,224,0804,140,484
47,2015,1,1,AS,114,N303AS,0220,200,0640,140,400
48,2015,1,1,B6,668,N653JB,0255,185,0500,175,300
49,2015,1,1,UA,1162,N37293,0259,240,0559,179,359
50,2015,1,1,B6,1030,N239JB,0307,173,0500,187,300
51,2015,1,1,B6,262,N627JB,0330,245,0635,210,395
52,2015,1,1,B6,2134,N307JB,0400,185,0605,240,365
53,2015,1,1,B6,730,N621JB,0419,174,0613,259,373
54,2015,1,1,B6,768,N317JB,0424,186,0630,264,390
55,2015,1,1,B6,2276,N646JB,0438,241,0739,278,459
56,2015,1,1,US,602,N197UW,0500,228,0748,300,468
57,2015,1,1,AS,695,N607AS,0500,70,0610,300,370
58,2015,1,1,HA,102,N492HA,0500,49,0549,300,349
59,2015,1,1,OO,5467,N701BR,0500,89,0629,300,389

In [ ]:
time_flights3.where('scheduled_departure_in_minutes_from_midnight > scheduled_arrival_in_minutes_from_midnight').toPandas()

,year,month,day,airline,flight_number,tail_number,scheduled_departure,scheduled_time,scheduled_arrival,scheduled_departure_in_minutes_from_midnight,scheduled_arrival_in_minutes_from_midnight
0,2015,1,1,EV,5764,N832AS,0530,55,0525,330,325
1,2015,1,1,EV,5234,N884AS,0908,53,0901,548,541
2,2015,1,1,DL,1224,N981AT,1030,56,1026,630,626
3,2015,1,1,EV,5183,N853AS,1120,52,1112,680,672
4,2015,1,1,EV,5692,N834AS,1228,55,1223,748,743
...,...,...,...,...,...,...,...,...,...,...,...
183469,2015,12,31,B6,688,N657JB,2359,320,0819,1439,499
183470,2015,12,31,B6,745,N828JB,2359,227,0446,1439,286
183471,2015,12,31,B6,1503,N913JB,2359,221,0440,1439,280
183472,2015,12,31,B6,333,N527JB,2359,161,0340,1439,220
183473,2015,12,31,B6,839,N534JB,2359,221,0440,1439,280

In [ ]:
time_flights4 = time_flights3.withColumn('flight_time_diff',expr('scheduled_departure_in_minutes_from_midnight+scheduled_time-scheduled_arrival_in_minutes_from_midnight'))
time_flights4.select('flight_time_diff').distinct().sort('flight_time_diff').toPandas()

    flight_time_diff
0                NaN
1             -240.0
2             -180.0
3             -150.0
4             -120.0
5             -105.0
6              -78.0
7              -60.0
8              -45.0
9              -43.0
10             -25.0
11              -5.0
12               0.0
13               2.0
14              11.0
15              20.0
16              29.0
17              60.0
18             120.0
19             160.0
20             180.0
21             199.0
22             240.0
23             300.0
24             360.0
25            1080.0
26            1140.0
27            1200.0
28            1260.0
29            1320.0
30            1380.0
31            1440.0
32            1500.0
33            1560.0
34            1620.0

In [ ]:
time_flights4.where('flight_time_diff >= 1000').select('scheduled_time', 'flight_time_diff', 'scheduled_departure', 'scheduled_arrival').limit(100).toPandas()

   scheduled_time  flight_time_diff scheduled_departure scheduled_arrival
0             314            1260.0                1559              0013
1             313            1260.0                1600              0013
2             323            1260.0                1605              0028
3             314            1260.0                1620              0034
4             283            1260.0                1622              0005
..            ...               ...                 ...               ...
95            229            1500.0                2115              0004
96            195            1380.0                2117              0132
97            217            1440.0                2118              0055
98            330            1320.0                2119              0449
99            110            1380.0                2120              0010

[100 rows x 4 columns]

In [ ]:
time_flights4.where('flight_time_diff < 1000').select('scheduled_time', 'flight_time_diff', 'scheduled_departure', 'scheduled_arrival').limit(100).toPandas()

   scheduled_time  flight_time_diff scheduled_departure scheduled_arrival
0             205             -60.0                0005              0430
1             280            -180.0                0010              0750
2             286            -180.0                0020              0806
3             285            -180.0                0020              0805
4             235              60.0                0025              0320
..            ...               ...                 ...               ...
95             88               0.0                0535              0703
96             85               0.0                0535              0700
97            225             -60.0                0535              1020
98             61               0.0                0535              0636
99             88             -60.0                0535              0803

[100 rows x 4 columns]

## Tworzenie zmiennych okienkowych

Troszeczkę inaczej wygląda zadanie w którym chcemy przeprowadzić jakieś obliczenia związane ze zmiennymi reprezentowanymi przez tak zwane okna. Okna to przedziały (z reguły czasu) w których obliczane są statystyki dla poszczególnych elementów celem składowania ich w danych.

Wiemy np. niektóre kierunki są popularniejsze od innych. Możemy spróbować pogrupować nasze dane tak aby zobaczyć na które lotniska w ostatnim przedziale czasowym przyleciało najwięcej samolotów. Kiedy chcemy aby dotyczyło to pojedynczego dnia zadanie jest proste.

In [ ]:
popular_airports = flights.groupBy('Year', 'Month', 'Day', 'Destination_airport').count().orderBy(col('count').desc())
popular_airports.limit(20).toPandas()

    Year  Month  Day Destination_airport  count
0   2015     11   29                 ATL   1165
1   2015      8   14                 ATL   1143
2   2015      8    7                 ATL   1143
3   2015      8   17                 ATL   1142
4   2015      7   27                 ATL   1141
5   2015      7   31                 ATL   1141
6   2015      8    3                 ATL   1141
7   2015      7    6                 ATL   1141
8   2015      8   10                 ATL   1141
9   2015      7   10                 ATL   1141
10  2015      6   26                 ATL   1140
11  2015      8   13                 ATL   1140
12  2015      7   17                 ATL   1140
13  2015      7   20                 ATL   1139
14  2015      6   19                 ATL   1139
15  2015      7   13                 ATL   1139
16  2015      7   24                 ATL   1139
17  2015      8    6                 ATL   1138
18  2015      7    9                 ATL   1136
19  2015      6   22                 ATL   1136

In [ ]:
flights.where('Month = 11 and day = 29 and destination_airport = "ATL" ').toPandas()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,11,29,7,AA,1675,N557UW,CLT,ATL,0025,0019,-6.0,12.0,0031,68,60.0,41.0,226,0112,7.0,0133,0119,-14.0,0,0,None,None,None,None,None,None
1,2015,11,29,7,AA,774,N542UW,PHX,ATL,0040,0048,8.0,14.0,0102,205,199.0,180.0,1587,0602,5.0,0605,0607,2.0,0,0,None,None,None,None,None,None
2,2015,11,29,7,F9,1456,N220FR,LAS,ATL,0040,0043,3.0,17.0,0100,225,209.0,185.0,1747,0705,7.0,0725,0712,-13.0,0,0,None,None,None,None,None,None
3,2015,11,29,7,DL,1646,N557NW,PHX,ATL,0055,0053,-2.0,12.0,0105,202,180.0,165.0,1587,0550,3.0,0617,0553,-24.0,0,0,None,None,None,None,None,None
4,2015,11,29,7,DL,2324,N838DN,SLC,ATL,0059,0055,-4.0,23.0,0118,202,201.0,173.0,1590,0611,5.0,0621,0616,-5.0,0,0,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1160,2015,11,29,7,DL,1254,N1610D,LAX,ATL,2340,2343,3.0,31.0,0014,249,234.0,199.0,1947,0633,4.0,0649,0637,-12.0,0,0,None,None,None,None,None,None
1161,2015,11,29,7,DL,2258,N829DN,SMF,ATL,2352,2358,6.0,12.0,0010,251,238.0,219.0,2092,0649,7.0,0703,0656,-7.0,0,0,None,None,None,None,None,None
1162,2015,11,29,7,F9,420,N920FR,DEN,ATL,2355,0028,33.0,37.0,0105,170,178.0,134.0,1199,0519,7.0,0445,0526,41.0,0,0,None,8,0,33,0,0
1163,2015,11,29,7,DL,2446,N343NW,SFO,ATL,2359,2354,-5.0,19.0,0013,273,255.0,230.0,2139,0703,6.0,0732,0709,-23.0,0,0,None,None,None,None,None,None
1164,2015,11,29,7,DL,694,N126DL,SLC,ATL,2359,2359,0.0,68.0,0107,206,249.0,174.0,1590,0601,7.0,0525,0608,43.0,0,0,None,43,0,0,0,0

Troche trudniej sprawa wygląda jeśli podsumowanie ma dotyczyć np. ostatniego tygodnia.

Najpierw wygenerujemy tabelę dziennych lotów na poszczególne dni

In [ ]:
popular_airports = flights.groupBy('Year', 'Month', 'Day', 'Destination_airport').count().orderBy(col('count').desc())
popular_airports.limit(10).toPandas()

   Year  Month  Day Destination_airport  count
0  2015     11   29                 ATL   1165
1  2015      8   14                 ATL   1143
2  2015      8    7                 ATL   1143
3  2015      8   17                 ATL   1142
4  2015      7   31                 ATL   1141
5  2015      7   10                 ATL   1141
6  2015      7   27                 ATL   1141
7  2015      8   10                 ATL   1141
8  2015      7    6                 ATL   1141
9  2015      8    3                 ATL   1141

Dalej musimy ją przetworzyć tak aby policzyć większe okna czasowe

In [ ]:
from pyspark.sql.window import Window
from pyspark.sql.functions import concat_ws, to_timestamp, to_date, rank, count, sum

days = lambda x: x * 86400

destinations = popular_airports
destinations = destinations.withColumn('Year_str', col('Year').cast('string') )
destinations = destinations.withColumn('Month_str', col('Month').cast('string') )
destinations = destinations.withColumn('Day_str', col('Day').cast('string') )
destinations = destinations.withColumn('Date_str', concat_ws('-', 'Day_str', 'Month_str', 'Year_str') )
destinations = destinations.withColumn('Date', to_timestamp('Date_str', 'd-M-yyyy' ))
destinations = destinations.drop( 'Year_str', 'Month_str', 'Day_str', 'Date_str') #'Year','Month','Day',
windSpec = Window.partitionBy('Destination_Airport').orderBy(col('Date').cast('long')).rangeBetween(-days(7),0)
destinations = destinations.withColumn('Cumulative_flights', sum(col('count')).over(windSpec))
destinations = destinations.drop('count')
windSpec2 = Window.partitionBy('Date').orderBy(col('Cumulative_flights').desc())
destinations = destinations.withColumn('Rank' , rank().over(windSpec2))
destinations = destinations.drop('Date', 'Cumulative_flights')
destinations.limit(100).toPandas()

    Year  Month  Day Destination_airport  Rank
0   2015      4   26                 ATL     1
1   2015      4   26                 ORD     2
2   2015      4   26                 DFW     3
3   2015      4   26                 DEN     4
4   2015      4   26                 LAX     5
..   ...    ...  ...                 ...   ...
95  2015      4   26                 ALB    95
96  2015      4   26                 FAT    97
97  2015      4   26                 TYS    97
98  2015      4   26                 PNS    99
99  2015      4   26                 GSP    99

[100 rows x 5 columns]

In [ ]:
%%time
print(f'flights size ')
flights = flights.alias("left").join(destinations.alias('right'), (flights.YEAR == destinations.Year)  & (flights.MONTH == destinations.Month) 
& (flights.DAY == destinations.Day)  & (flights.DESTINATION_AIRPORT == destinations.Destination_airport)).select("left.*", 'right.rank') #

flights size
CPU times: user 10.5 ms, sys: 803 µs, total: 11.3 ms
Wall time: 111 ms

In [ ]:
flights.limit(5).toPandas()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,rank
0,2015,1,1,4,EV,4872,N850AS,ATL,AVL,1100,1103,3,26,1129,53,59,30,164,1159,3,1153,1202,9,0,0,None,None,None,None,None,None,165
1,2015,1,1,4,OO,5353,N963SW,ORD,AVL,1311,1320,9,20,1340,104,96,72,536,1552,4,1555,1556,1,0,0,None,None,None,None,None,None,165
2,2015,1,1,4,EV,4175,N13132,EWR,AVL,1320,1316,-4,10,1326,119,113,97,583,1503,6,1519,1509,-10,0,0,None,None,None,None,None,None,165
3,2015,1,1,4,DL,1729,N935AT,ATL,AVL,1505,1502,-3,14,1516,54,51,33,164,1549,4,1559,1553,-6,0,0,None,None,None,None,None,None,165
4,2015,1,1,4,OO,5329,N963SW,ORD,AVL,1800,1848,48,13,1901,104,87,71,536,2112,3,2044,2115,31,0,0,None,0,0,19,12,0,165

Można jeszcze użyć operacji `withColumnRenamed` do uporządkowania nazw kolumn

# Ćwiczenie warsztatowe

## Zadanie 1 

Utworzyć podzbiór zawierający tylko loty, które się odbyły. Znaleźć lot najkrótszy oraz najdłuższy.

## Zadanie 2

Wyszukać liczbę przewozników w danych i znaleźć łączną liczbę lotów wykonanych przez każdego z nich

## Zadanie 3

Dla każdej trasy (Lotnisko początkowe -> Lotnisko końcowe) znaleźć minimalny, przeciętny i maksymalny (rzeczywisty) czas przelotu

## Zadanie 4

Utworzyć nową kolumnę opisującą trasę (Lotnisko początkowe -> Lotnisko końcowe). Następnie sprawdzić czy w danych podanych jest zgodna odległość jego łączące

## Zadanie 5

Wygenerować tabelę z popularnością poszczególnych przewoźników na podstawie całego zbioru danych, wygenerować ich ranking i dołączyć go do danych flights jako kolumnę AIRLINE_RANK.